In [12]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

%matplotlib inline

In [13]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [17]:
tick = '^GSPC'

stime='2016-01-01'
ftime=None

In [18]:
def get_data_from_ticker(tick, stime, ftime, interval='1d'):
    ticker = yf.Ticker(tick)

    # df = ticker.history(start=stime, end=ftime, interval=interval)
    x = pd.DataFrame(df)
    # x.rename(columns={"Close": tick}, inplace=True)
    # z = x.drop(columns=["Open", "High", "Low", "Volume", "Dividends", "Stock Splits"])
    return x

df = pd.DataFrame(get_data_from_ticker(tick, stime, ftime))



df

                                 ^GSPC
Date
2016-01-04 00:00:00-05:00  2012.660034
2016-01-05 00:00:00-05:00  2016.709961
2016-01-06 00:00:00-05:00  1990.260010
2016-01-07 00:00:00-05:00  1943.089966
2016-01-08 00:00:00-05:00  1922.030029
...                                ...
2022-12-22 00:00:00-05:00  3822.389893
2022-12-23 00:00:00-05:00  3844.820068
2022-12-27 00:00:00-05:00  3829.250000
2022-12-28 00:00:00-05:00  3783.219971
2022-12-29 00:00:00-05:00  3849.280029

[1761 rows x 1 columns]

In [19]:
def add_percent_update(tick):
    """ date stock's or market's update"""
    gf_copy = df.copy(deep=True)
    gf_copy = pd.DataFrame(gf_copy.drop(df.index[0]))
    gf_copy_v = gf_copy[tick].values
    gf_v = df.copy(deep=True)
    gf_vv = gf_v[tick].values

    for i in range(len(gf_copy)):
        gf_vv[i] = (gf_copy_v[i] - gf_vv[i]) / (gf_vv[i] / 100)

    gf_vv = np.insert(gf_vv, 0, 0)
    gf_vv = np.delete(gf_vv, -1)
    return gf_vv

df[f"% update {tick}"] = add_percent_update(tick)
# gf[f"% update {st}"] = add_percent_update(st)

df.head(3)

                                 ^GSPC  % update ^GSPC
Date
2016-01-04 00:00:00-05:00  2012.660034        0.000000
2016-01-05 00:00:00-05:00  2016.709961        0.201223
2016-01-06 00:00:00-05:00  1990.260010       -1.311540

Get consistent

In [20]:
deep = 4
type_str = 'vertical_more_or_low'

def analyse_f(df, type_str, deep):
    deep += 1
    # r = list(df.iloc[:,0].values)
    r =  []
    if type_str == 'vertical_more_or_low':
        for i in range(len(df[f'{tick}'])):
            if i <= deep:
                # r[i] = 0
                r.append(0)
            else:    
                l = []
                for y in range(deep):
                    if y == 0: 
                        pass
                    elif y > 0:
                        if df.iloc[i-y, 1] > df.iloc[i-1-y, 1]:
                            x = 'm'
                            l.append(x)
                        else:
                            x = 'l'
                            l.append(x)
                    else:
                        pass
                r.append(l)
    else:
        pass
    return r 
        


df['consistent'] = analyse_f(df, type_str, deep)        
df.tail(5)

                                 ^GSPC  % update ^GSPC    consistent
Date
2022-12-22 00:00:00-05:00  3822.389893       -1.445170  [m, m, m, m]
2022-12-23 00:00:00-05:00  3844.820068        0.586810  [l, m, m, m]
2022-12-27 00:00:00-05:00  3829.250000       -0.404962  [m, l, m, m]
2022-12-28 00:00:00-05:00  3783.219971       -1.202064  [l, m, l, m]
2022-12-29 00:00:00-05:00  3849.280029        1.746133  [l, l, m, l]

Поиск наиболее эффективных значений

In [7]:
# df['consistent'] = df['consistent'].astype(str)

In [21]:
''' Переводим в str чтобы дальше можно было сравнить '''
df['consistent'] = df['consistent'].astype(str)

''' Выбираем уникальные '''

df_un = df['consistent'].copy()
df_un = df_un.drop_duplicates()
df_un = df_un.loc[df_un != "0"]
set_consistens = list(df_un)

''' Фильтруем по типам и получаем их суммы '''
r = []
for i in range(len(set_consistens)):
    x = df.loc[(df['consistent'] == set_consistens[i])]
    r.append(f"Сумма {set_consistens[i]} = {x[f'% update {tick}'].sum()}")
r

["Сумма ['m', 'm', 'l', 'l'] = -5.303216510624626",
 "Сумма ['m', 'm', 'm', 'l'] = 4.789378740481935",
 "Сумма ['l', 'm', 'm', 'm'] = 12.47497578070909",
 "Сумма ['m', 'l', 'm', 'm'] = 8.372424101573749",
 "Сумма ['l', 'm', 'l', 'm'] = 25.606815172832913",
 "Сумма ['m', 'l', 'm', 'l'] = 34.27842321610677",
 "Сумма ['m', 'm', 'l', 'm'] = -5.795953670367128",
 "Сумма ['l', 'm', 'm', 'l'] = -2.1885508824522963",
 "Сумма ['l', 'l', 'm', 'm'] = -3.414677277385815",
 "Сумма ['m', 'l', 'l', 'm'] = -23.24094569082208",
 "Сумма ['l', 'm', 'l', 'l'] = 21.671441926725628",
 "Сумма ['l', 'l', 'm', 'l'] = 13.518854788236062",
 "Сумма ['l', 'l', 'l', 'm'] = 6.941544043260217",
 "Сумма ['m', 'l', 'l', 'l'] = -6.209267789696968",
 "Сумма ['l', 'l', 'l', 'l'] = 5.574926360380049",
 "Сумма ['m', 'm', 'm', 'm'] = -4.6786235146594155"]

In [9]:
set_consistens

["['m', 'm', 'l', 'm']",
 "['l', 'm', 'm', 'l']",
 "['m', 'l', 'm', 'm']",
 "['l', 'm', 'l', 'm']",
 "['m', 'l', 'm', 'l']",
 "['l', 'l', 'm', 'm']",
 "['m', 'l', 'l', 'm']",
 "['m', 'm', 'l', 'l']",
 "['l', 'm', 'l', 'l']",
 "['l', 'l', 'l', 'm']",
 "['m', 'l', 'l', 'l']",
 "['l', 'l', 'm', 'l']",
 "['m', 'm', 'm', 'l']",
 "['l', 'm', 'm', 'm']",
 "['l', 'l', 'l', 'l']",
 "['m', 'm', 'm', 'm']"]