In [44]:
import yfinance as yf
import pandas as pd
import numpy as np

In [37]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [38]:
tick = "MSFT"
ticker = yf.Ticker(tick)

column1 = 'Total Assets'

In [39]:
df = ticker.balance_sheet.T

In [40]:
df = df[['Total Assets']]
df = df.reindex(index=df.index[::-1])
df

              Total Assets
2019-06-30  286556000000.0
2020-06-30  301311000000.0
2021-06-30  333779000000.0
2022-06-30  364840000000.0

In [45]:
def add_percent_update(df, column):
    """ date stock's or market's update"""
    gf_copy = df.copy(deep=True)
    gf_copy = pd.DataFrame(gf_copy.drop(df.index[0]))
    gf_copy_v = gf_copy[column1].values
    gf_v = df.copy(deep=True)
    gf_vv = gf_v[column1].values

    for i in range(len(gf_copy)):
        gf_vv[i] = (gf_copy_v[i] - gf_vv[i]) / (gf_vv[i] / 100)

    gf_vv = np.insert(gf_vv, 0, 0)
    gf_vv = np.delete(gf_vv, -1)
    return gf_vv

df[f"% {column1}"] = add_percent_update(df, column1)
df

              Total Assets % Total Assets
2019-06-30  286556000000.0              0
2020-06-30  301311000000.0       5.149081
2021-06-30  333779000000.0      10.775577
2022-06-30  364840000000.0       9.305858