In [9]:
import pandas as pd

from yahoo_fin.stock_info import get_data, get_income_statement
import yahoo_fin.stock_info as si

In [10]:
amazon_weekly= get_data("amzn", start_date="12/04/2009", end_date="12/04/2019", index_as_date = True, interval="1wk")
amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2009-11-30,7.181000,7.295500,6.755500,6.879000,6.879000,627018000,AMZN
2009-12-07,6.900000,6.950000,6.491000,6.707500,6.707500,957260000,AMZN
2009-12-14,6.625000,6.630500,6.282500,6.424000,6.424000,915898000,AMZN
2009-12-21,6.524000,6.985000,6.509500,6.923500,6.923500,648120000,AMZN
2009-12-28,6.987500,7.129000,6.726000,6.726000,6.726000,572014000,AMZN
...,...,...,...,...,...,...,...
2019-11-04,90.050499,90.752998,88.702003,89.293999,89.293999,229232000,AMZN
2019-11-11,88.900002,89.310997,86.642998,86.974503,86.974503,263310000,AMZN
2019-11-18,86.915001,88.125999,86.135498,87.286003,87.286003,260846000,AMZN
2019-11-25,87.662498,91.234497,87.662003,90.040001,90.040001,232328000,AMZN
2019-12-02,90.220001,90.277496,87.361504,88.498001,88.498001,146130000,AMZN

In [11]:
income_statement = si.get_income_statement("aapl")
income_statement

TypeError: string indices must be integers, not 'str'

In [ ]:
import yfinance as yf

msft = yf.Ticker("MSFT")

msft.balance_sheet

In [ ]:
from yahoofinance import BalanceSheet
req = BalanceSheet('AAPL')

In [ ]:
import yfinance as yf

In [13]:
tick = "msft"
ticker = yf.Ticker(tick)

In [14]:
ticker.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2021-11-17 00:00:00-05:00       0.62           0.0
2022-02-16 00:00:00-05:00       0.62           0.0
2022-05-18 00:00:00-04:00       0.62           0.0
2022-08-17 00:00:00-04:00       0.62           0.0
2022-11-16 00:00:00-05:00       0.68           0.0

[85 rows x 2 columns]

In [15]:
ticker.news

[{'uuid': '9e2fe1ff-8d83-3df6-b74c-6a7aeaeb6023',
  'title': 'Microsoftâ€™s Investment in ChatGPT Could Mean Trouble for Google',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/9e2fe1ff-8d83-3df6-b74c-6a7aeaeb6023/microsoft%E2%80%99s-investment-in.html',
  'providerPublishTime': 1673355420,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/WScOGwkBbFFa0RAsQEs40A--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/3d875b6dac724e770a97351dbcb04573',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/w0dP.ExtfRshdamwcvVoww--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/3d875b6dac724e770a97351dbcb04573',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'GOOGL']},
 {'uuid': 'b6bc3460-ed77-3683-bcad-ff3c53b4e10f',
  'title': 'Stocks Slip Lower, Powell Speech, Pfizer Oak Street, Microsoft - Five Things To Know',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/b6bc3460-ed77-3683-bcad-ff3c53b4e10f/stocks-slip-lower%2C-powell.html',
  'providerPublishTime': 1673345820,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/jy_plLdBEi0sn5NKllKnMA--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/thestreet.com/f0ca4e6e3573604a9cdcc9763f67aa90',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/XIgozhL9pXGABMwErq0dsQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/f0ca4e6e3573604a9cdcc9763f67aa90',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'PFE', 'OSH']},
 {'uuid': 'ba65de88-a9d4-344d-ba4d-6720e766ab1d',
  'title': 'Microsoft mulling $10 billion investment into ChatGPT creator OpenAI: report',
  'publisher': 'MarketWatch',
  'link': 'https://finance.yahoo.com/m/ba65de88-a9d4-344d-ba4d-6720e766ab1d/microsoft-mulling-%2410-billion.html',
  'providerPublishTime': 1673343600,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/js5WqabRIUYCjxISY8EsuA--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/marketwatch.com/778f8c805bccd2c0ec24d125e391cb77',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/mJBvDztRvDR5QEbnxiWA.A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/marketwatch.com/778f8c805bccd2c0ec24d125e391cb77',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '634a6f6b-820d-3e45-9ee2-c61418fe4552',
  'title': 'Microsoft in talks to invest $10 bln in ChatGPT owner',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/1-microsoft-talks-invest-10-041846770.html',
  'providerPublishTime': 1673324326,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/JKaCnYIODDwKgM9ukVuQLw--~B/aD03MjA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/hd/cp-video-transcode/production/750c3542-472e-39cd-83e8-74212a617718/2022-12-21/21-58-52/b85e24e5-b640-5124-b956-fc3b378ef698/stream_1280x720x0_v2_3_0.jpg',
     'width': 1280,
     'height': 720,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/dIt8XOsuw0GQun7aLCp6VQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/hd/cp-video-transcode/production/750c3542-472e-39cd-83e8-74212a617718/2022-12-21/21-58-52/b85e24e5-b640-5124-b956-fc3b378ef698/stream_1280x720x0_v2_3_0.jpg',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'TSLA']},
 {'uuid': 'e9a24bca-539f-36bf-8afa-fc8a643abc11',
  'title': 'Microsoft Considers $10 Billion Investment in ChatGPT Creator',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/microsoft-considers-10-billion-investment-040221276.html',
  'providerPublishTime': 1673323341,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/EKLqX6n6XDzXtEXViMX_iw--~B/aD0yNjY3O3c9NDAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_technology_68/bc89fd974280ad1a12f4cd45b4d060b5',
     'width': 4000,
     'height': 2667,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/N4LdTpgKg7yQhKLQ5Tjb9w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_technology_68/bc89fd974280ad1a12f4cd45b4d060b5',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'GOOGL']},
 {'uuid': '80180129-1649-38ca-b818-61b8514dadbd',
  'title': 'Microsoft in talks to invest $10 billion in ChatGPT owner -Semafor',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/microsoft-talks-invest-10-billion-025359155.html',
  'providerPublishTime': 1673319239,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/iSSSGECpv6Kybe.oTCBUWg--~B/aD01MzQ7dz04MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/reuters-finance.com/200ba9ed24a213a403d15e809bb84c23',
     'width': 800,
     'height': 534,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/o3nG7yRtqU4EAvoxjpD2mQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/reuters-finance.com/200ba9ed24a213a403d15e809bb84c23',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'c97af867-f3c7-38dd-bc7a-225c5abcfc31',
  'title': 'Why Microsoft Stock Topped the Market Today',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/c97af867-f3c7-38dd-bc7a-225c5abcfc31/why-microsoft-stock-topped.html',
  'providerPublishTime': 1673306520,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/nEFoVk4Qn1M77mM8RxTLag--~B/aD0xNDEyO3c9MjEyMjthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/2dc435d40cc2480e97c0ae8c170d30ec',
     'width': 2122,
     'height': 1412,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/03E49ikf6OTY.CWeC4IdJw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/2dc435d40cc2480e97c0ae8c170d30ec',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'AAPL']},
 {'uuid': '8e6b4319-8b86-323b-bee0-ff9abd7b17be',
  'title': 'Microsoft (MSFT) Gains As Market Dips: What You Should Know',
  'publisher': 'Zacks',
  'link': 'https://finance.yahoo.com/news/microsoft-msft-gains-market-dips-224510207.html',
  'providerPublishTime': 1673304310,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/wbCMwMtKIoXj_iQA0ego4g--~B/aD01MDY7dz05MDA7YXBwaWQ9eXRhY2h5b24-/https://media.zenfs.com/en/zacks.com/1154d43aaeb65735a640003549116295',
     'width': 900,
     'height': 506,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/Gkx1uVeFgGgcGf5Jyi6uoA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/zacks.com/1154d43aaeb65735a640003549116295',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']}]

In [17]:
ticker.get_cashflow()

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []