In [3]:
# pip install --upgrade yfinance

Requirement already satisfied: yfinance in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (0.1.90)
Collecting yfinance
  Downloading yfinance-0.2.3-py2.py3-none-any.whl (50 kB)
     -------------------------------------- 50.4/50.4 kB 427.5 kB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.5.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.23.4)
Requirement already satisfied: requests>=2.26 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.9.2)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (2022.6)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-py3-none-any.whl (11 kB)
Requirement already satisfied: cryptography>=3.3.2 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (38.0.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from yfinance) (4.11.1)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ------------------------------------ 112.2/112.2 kB 935.2 kB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.2.post1)
Requirement already satisfied: cffi>=1.12 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26->yfinance) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26->yfinance) (1.26.12)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: pycparser in c:\users\pc\appdata\local\programs\python\python311\lib\site-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: html5lib, frozendict, yfinance
  Attempting uninstall: yfinance
    Found existing installation: yfinance 0.1.90
    Uninstalling yfinance-0.1.90:
      Successfully uninstalled yfinance-0.1.90
Successfully installed frozendict-2.3.4 html5lib-1.1 yfinance-0.2.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
msft = yf.Ticker("MSFT")

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Total Assets,364840000000.0,333779000000.0,301311000000.0,286556000000.0
Current Assets,169684000000.0,184406000000.0,181915000000.0,175552000000.0
Cash Cash Equivalents And Short Term Investments,104749000000.0,130334000000.0,136527000000.0,133819000000.0
Cash And Cash Equivalents,13931000000.0,14224000000.0,13576000000.0,11356000000.0
Cash Financial,8258000000.0,7272000000.0,NaN,NaN
...,...,...,...,...
Tangible Book Value,87720000000.0,84477000000.0,67915000000.0,52554000000.0
Total Debt,61270000000.0,67775000000.0,70998000000.0,78366000000.0
Net Debt,35850000000.0,43922000000.0,49751000000.0,60822000000.0
Share Issued,7464000000.0,7519000000.0,7571000000.0,7643000000.0
Ordinary Shares Number,7464000000.0,7519000000.0,7571000000.0,7643000000.0

info

In [4]:
# msft.info

In [41]:
hist = msft.history(period="max")

In [43]:
hist.loc['2020-01-01':'2021-02-01']

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-01-02 00:00:00-05:00,154.363135,156.258888,153.925656,156.151947,22622100,0.0,0.0
2020-01-03 00:00:00-05:00,153.915953,155.500600,153.663176,154.207596,21116200,0.0,0.0
2020-01-06 00:00:00-05:00,152.710448,154.674261,152.156297,154.606201,20813700,0.0,0.0
2020-01-07 00:00:00-05:00,154.888121,155.228376,152.943756,153.196518,21634100,0.0,0.0
2020-01-08 00:00:00-05:00,154.508923,156.326914,153.556188,155.636658,27746500,0.0,0.0
...,...,...,...,...,...,...,...
2021-01-26 00:00:00-05:00,227.798105,230.077454,226.049290,228.259872,49169600,0.0,0.0
2021-01-27 00:00:00-05:00,233.830561,236.227818,226.108257,228.819901,69870600,0.0,0.0
2021-01-28 00:00:00-05:00,231.482447,238.389291,230.971553,234.744278,49111200,0.0,0.0
2021-01-29 00:00:00-05:00,231.855792,233.850228,227.297079,227.896393,42503100,0.0,0.0
2021-02-01 00:00:00-05:00,230.942044,238.251707,228.358114,235.451630,33314200,0.0,0.0

In [10]:
msft.history_metadata

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': 511108200,
 'regularMarketTime': 1673384404,
 'gmtoffset': -18000,
 'timezone': 'EST',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 228.85,
 'chartPreviousClose': 0.097,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'timezone': 'EST',
   'start': 1673341200,
   'end': 1673361000,
   'gmtoffset': -18000},
  'regular': {'timezone': 'EST',
   'start': 1673361000,
   'end': 1673384400,
   'gmtoffset': -18000},
  'post': {'timezone': 'EST',
   'start': 1673384400,
   'end': 1673398800,
   'gmtoffset': -18000}},
 'dataGranularity': '1d',
 'range': '',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [11]:
# show actions (dividends, splits, capital gains)
msft.actions

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2021-11-17 00:00:00-05:00       0.62           0.0
2022-02-16 00:00:00-05:00       0.62           0.0
2022-05-18 00:00:00-04:00       0.62           0.0
2022-08-17 00:00:00-04:00       0.62           0.0
2022-11-16 00:00:00-05:00       0.68           0.0

[85 rows x 2 columns]

In [12]:
# show dividends
msft.dividends

Date
2003-02-19 00:00:00-05:00    0.08
2003-10-15 00:00:00-04:00    0.16
2004-08-23 00:00:00-04:00    0.08
2004-11-15 00:00:00-05:00    3.08
2005-02-15 00:00:00-05:00    0.08
                             ...
2021-11-17 00:00:00-05:00    0.62
2022-02-16 00:00:00-05:00    0.62
2022-05-18 00:00:00-04:00    0.62
2022-08-17 00:00:00-04:00    0.62
2022-11-16 00:00:00-05:00    0.68
Name: Dividends, Length: 76, dtype: float64

In [13]:
# show splits
msft.splits

Date
1987-09-21 00:00:00-04:00    2.0
1990-04-16 00:00:00-04:00    2.0
1991-06-27 00:00:00-04:00    1.5
1992-06-15 00:00:00-04:00    1.5
1994-05-23 00:00:00-04:00    2.0
1996-12-09 00:00:00-05:00    2.0
1998-02-23 00:00:00-05:00    2.0
1999-03-29 00:00:00-05:00    2.0
2003-02-18 00:00:00-05:00    2.0
Name: Stock Splits, dtype: float64

In [14]:
# show capital gains (for mutual funds & etfs)
msft.capital_gains

[]

In [15]:
# show share count
msft.shares

      BasicShares
Year
2019   7673000000
2020   7610000000
2021   7547000000
2022   7496000000

In [16]:
# show financials:
# - income statement
msft.income_stmt

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Total Revenue,198270000000.0,168088000000.0,143015000000.0,125843000000.0
Operating Revenue,198270000000.0,168088000000.0,143015000000.0,125843000000.0
Cost Of Revenue,62650000000.0,52232000000.0,46078000000.0,42910000000.0
Gross Profit,135620000000.0,115856000000.0,96937000000.0,82933000000.0
Operating Expense,52237000000.0,45940000000.0,43978000000.0,39974000000.0
Selling General And Administration,27725000000.0,25224000000.0,24709000000.0,23098000000.0
General And Administrative Expense,5900000000.0,5107000000.0,5111000000.0,4885000000.0
Other Gand A,5900000000.0,5107000000.0,5111000000.0,4885000000.0
Selling And Marketing Expense,21825000000.0,20117000000.0,19598000000.0,18213000000.0
Research And Development,24512000000.0,20716000000.0,19269000000.0,16876000000.0
Operating Income,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Net Non Operating Interest Income Expense,31000000.0,-215000000.0,89000000.0,76000000.0
Interest Income Non Operating,2094000000.0,2131000000.0,2680000000.0,2762000000.0
Interest Expense Non Operating,2063000000.0,2346000000.0,2591000000.0,2686000000.0
Other Income Expense,302000000.0,1401000000.0,-12000000.0,653000000.0
Gain On Sale Of Security,435000000.0,1303000000.0,28000000.0,710000000.0
Special Income Charges,-101000000.0,NaN,NaN,0.0
Restructuring And Mergern Acquisition,NaN,NaN,NaN,0.0
Write Off,101000000.0,NaN,NaN,NaN
Other Non Operating Income Expenses,-32000000.0,98000000.0,-40000000.0,-57000000.0
Pretax Income,83716000000.0,71102000000.0,53036000000.0,43688000000.0
Tax Provision,10978000000.0,9831000000.0,8755000000.0,4448000000.0
Net Income Common Stockholders,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income Including Noncontrolling Interests,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Net Income Continuous Operations,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Diluted NI Availto Com Stockholders,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Basic EPS,9.7,8.12,5.82,5.11
Diluted EPS,9.65,8.05,5.76,5.06
Basic Average Shares,7496000000.0,7547000000.0,7610000000.0,7673000000.0
Diluted Average Shares,7540000000.0,7608000000.0,7683000000.0,7753000000.0
Total Operating Income As Reported,83383000000.0,69916000000.0,52959000000.0,42959000000.0
Total Expenses,114887000000.0,98172000000.0,90056000000.0,82884000000.0
Net Income From Continuing And Discontinued Operation,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Normalized Income,72447420000.0,60150420000.0,44257620000.0,38602420000.0
Interest Income,2094000000.0,2131000000.0,2680000000.0,2762000000.0
Interest Expense,2063000000.0,2346000000.0,2591000000.0,2686000000.0
Net Interest Income,31000000.0,-215000000.0,89000000.0,76000000.0
EBIT,85779000000.0,73448000000.0,55627000000.0,46374000000.0
Reconciled Cost Of Revenue,62650000000.0,52232000000.0,46078000000.0,42910000000.0
Reconciled Depreciation,14460000000.0,11686000000.0,12796000000.0,11682000000.0
Net Income From Continuing Operation Net Minority Interest,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Total Unusual Items Excluding Goodwill,334000000.0,1303000000.0,28000000.0,710000000.0
Total Unusual Items,334000000.0,1303000000.0,28000000.0,710000000.0
Normalized EBITDA,99905000000.0,83831000000.0,68395000000.0,57346000000.0
Tax Rate For Calcs,0.13,0.14,0.165,0.102
Tax Effect Of Unusual Items,43420000.0,182420000.0,4620000.0,72420000.0

In [17]:
msft.quarterly_income_stmt

,2022-09-30,2022-06-30,2022-03-31,2021-12-31
Total Revenue,50122000000.0,51865000000.0,49360000000.0,51728000000.0
Operating Revenue,50122000000.0,51865000000.0,49360000000.0,51728000000.0
Cost Of Revenue,15452000000.0,16429000000.0,15615000000.0,16960000000.0
Gross Profit,34670000000.0,35436000000.0,33745000000.0,34768000000.0
Operating Expense,13152000000.0,14902000000.0,13381000000.0,12521000000.0
Selling General And Administration,6524000000.0,8053000000.0,7075000000.0,6763000000.0
General And Administrative Expense,1398000000.0,1749000000.0,1480000000.0,1384000000.0
Other Gand A,1398000000.0,1749000000.0,1480000000.0,1384000000.0
Selling And Marketing Expense,5126000000.0,6304000000.0,5595000000.0,5379000000.0
Research And Development,6628000000.0,6849000000.0,6306000000.0,5758000000.0
Operating Income,21518000000.0,20534000000.0,20364000000.0,22247000000.0
Net Non Operating Interest Income Expense,141000000.0,56000000.0,16000000.0,-22000000.0
Interest Income Non Operating,641000000.0,552000000.0,519000000.0,503000000.0
Interest Expense Non Operating,500000000.0,496000000.0,503000000.0,525000000.0
Other Income Expense,-87000000.0,-103000000.0,-190000000.0,290000000.0
Gain On Sale Of Security,-56000000.0,21000000.0,-179000000.0,294000000.0
Other Non Operating Income Expenses,-31000000.0,-23000000.0,-11000000.0,-4000000.0
Pretax Income,21572000000.0,20487000000.0,20190000000.0,22515000000.0
Tax Provision,4016000000.0,3747000000.0,3462000000.0,3750000000.0
Net Income Common Stockholders,17556000000.0,16740000000.0,16728000000.0,18765000000.0
Net Income,17556000000.0,16740000000.0,16728000000.0,18765000000.0
Net Income Including Noncontrolling Interests,17556000000.0,16740000000.0,16728000000.0,18765000000.0
Net Income Continuous Operations,17556000000.0,16740000000.0,16728000000.0,18765000000.0
Diluted NI Availto Com Stockholders,17556000000.0,16740000000.0,16728000000.0,18765000000.0
Basic EPS,2.35,2.24,2.23,2.5
Diluted EPS,2.35,2.23,2.22,2.48
Basic Average Shares,7457000000.0,7474000000.0,7493000000.0,7505000000.0
Diluted Average Shares,7485000000.0,7506000000.0,7534000000.0,7555000000.0
Total Operating Income As Reported,21518000000.0,20534000000.0,20364000000.0,22247000000.0
Total Expenses,28604000000.0,31331000000.0,28996000000.0,29481000000.0
Net Income From Continuing And Discontinued Operation,17556000000.0,16740000000.0,16728000000.0,18765000000.0
Normalized Income,17601360000.0,16805368282.325377,16876570000.0,18520980000.0
Interest Income,641000000.0,552000000.0,519000000.0,503000000.0
Interest Expense,500000000.0,496000000.0,503000000.0,525000000.0
Net Interest Income,141000000.0,56000000.0,16000000.0,-22000000.0
EBIT,22072000000.0,20983000000.0,20693000000.0,23040000000.0
Reconciled Cost Of Revenue,15452000000.0,16429000000.0,15615000000.0,16960000000.0
Reconciled Depreciation,2790000000.0,3979000000.0,3773000000.0,3496000000.0
Net Income From Continuing Operation Net Minority Interest,17556000000.0,16740000000.0,16728000000.0,18765000000.0
Total Unusual Items Excluding Goodwill,-56000000.0,-80000000.0,-179000000.0,294000000.0
Total Unusual Items,-56000000.0,-80000000.0,-179000000.0,294000000.0
Normalized EBITDA,24918000000.0,25042000000.0,24645000000.0,26242000000.0
Tax Rate For Calcs,0.19,0.182896,0.17,0.17
Tax Effect Of Unusual Items,-10640000.0,-14631717.674623,-30430000.0,49980000.0

In [18]:
# - balance sheet
msft.balance_sheet

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Total Assets,364840000000.0,333779000000.0,301311000000.0,286556000000.0
Current Assets,169684000000.0,184406000000.0,181915000000.0,175552000000.0
Cash Cash Equivalents And Short Term Investments,104749000000.0,130334000000.0,136527000000.0,133819000000.0
Cash And Cash Equivalents,13931000000.0,14224000000.0,13576000000.0,11356000000.0
Cash Financial,8258000000.0,7272000000.0,NaN,NaN
...,...,...,...,...
Tangible Book Value,87720000000.0,84477000000.0,67915000000.0,52554000000.0
Total Debt,61270000000.0,67775000000.0,70998000000.0,78366000000.0
Net Debt,35850000000.0,43922000000.0,49751000000.0,60822000000.0
Share Issued,7464000000.0,7519000000.0,7571000000.0,7643000000.0
Ordinary Shares Number,7464000000.0,7519000000.0,7571000000.0,7643000000.0

In [19]:
msft.quarterly_balance_sheet

,2022-09-30,2022-06-30,2022-03-31,2021-12-31
Total Assets,359784000000.0,364840000000.0,344607000000.0,340389000000.0
Current Assets,160812000000.0,169684000000.0,153922000000.0,174188000000.0
Cash Cash Equivalents And Short Term Investments,107244000000.0,104749000000.0,104660000000.0,125348000000.0
Cash And Cash Equivalents,22884000000.0,13931000000.0,12498000000.0,20604000000.0
Cash Financial,7237000000.0,8258000000.0,7456000000.0,6255000000.0
...,...,...,...,...
Tangible Book Value,95299000000.0,87720000000.0,84205000000.0,101627000000.0
Total Debt,60282000000.0,61270000000.0,61283000000.0,64032000000.0
Net Debt,25738000000.0,35850000000.0,37428000000.0,32654000000.0
Share Issued,7457000000.0,7464000000.0,7483000000.0,7500000000.0
Ordinary Shares Number,7457000000.0,7464000000.0,7483000000.0,7500000000.0

In [20]:
# - cash flow statement
msft.cashflow

,2022-06-30,2021-06-30,2020-06-30,2019-06-30
Operating Cash Flow,89035000000.0,76740000000.0,60675000000.0,52185000000.0
Cash Flow From Continuing Operating Activities,89035000000.0,76740000000.0,60675000000.0,52185000000.0
Net Income From Continuing Operations,72738000000.0,61271000000.0,44281000000.0,39240000000.0
Operating Gains Losses,-409000000.0,-1249000000.0,-219000000.0,-792000000.0
Gain Loss On Investment Securities,NaN,NaN,-219000000.0,-792000000.0
Depreciation Amortization Depletion,14460000000.0,11686000000.0,12796000000.0,11682000000.0
Depreciation And Amortization,14460000000.0,11686000000.0,12796000000.0,11682000000.0
Depreciation,14460000000.0,11686000000.0,12796000000.0,11682000000.0
Deferred Tax,-5702000000.0,-150000000.0,-3620000000.0,-3534000000.0
Deferred Income Tax,-5702000000.0,-150000000.0,-3620000000.0,-3534000000.0
Stock Based Compensation,7502000000.0,6118000000.0,5289000000.0,4652000000.0
Change In Working Capital,446000000.0,-936000000.0,2148000000.0,937000000.0
Change In Receivables,-6834000000.0,-6481000000.0,-2577000000.0,-2812000000.0
Changes In Account Receivables,-6834000000.0,-6481000000.0,-2577000000.0,-2812000000.0
Change In Inventory,-1123000000.0,-737000000.0,168000000.0,597000000.0
Change In Payables And Accrued Expense,2943000000.0,2798000000.0,3018000000.0,232000000.0
Change In Payable,2943000000.0,2798000000.0,3018000000.0,232000000.0
Change In Account Payable,2943000000.0,2798000000.0,3018000000.0,232000000.0
Change In Other Current Assets,-3514000000.0,-4391000000.0,-3367000000.0,-3552000000.0
Change In Other Current Liabilities,3169000000.0,5551000000.0,2694000000.0,2010000000.0
Change In Other Working Capital,5805000000.0,2324000000.0,2212000000.0,4462000000.0
Investing Cash Flow,-30311000000.0,-27577000000.0,-12223000000.0,-15773000000.0
Cash Flow From Continuing Investing Activities,-30311000000.0,-27577000000.0,-12223000000.0,-15773000000.0
Net PPE Purchase And Sale,-23886000000.0,-20622000000.0,-15441000000.0,-13925000000.0
Purchase Of PPE,-23886000000.0,-20622000000.0,-15441000000.0,-13925000000.0
Net Business Purchase And Sale,-22038000000.0,-8909000000.0,-2521000000.0,-2388000000.0
Purchase Of Business,-22038000000.0,-8909000000.0,-2521000000.0,-2388000000.0
Net Investment Purchase And Sale,18438000000.0,2876000000.0,6980000000.0,540000000.0
Purchase Of Investment,-26456000000.0,-62924000000.0,-77190000000.0,-57697000000.0
Sale Of Investment,44894000000.0,65800000000.0,84170000000.0,58237000000.0
Net Other Investing Changes,-2825000000.0,-922000000.0,-1241000000.0,NaN
Financing Cash Flow,-58876000000.0,-48486000000.0,-46031000000.0,-36887000000.0
Cash Flow From Continuing Financing Activities,-58876000000.0,-48486000000.0,-46031000000.0,-36887000000.0
Net Issuance Payments Of Debt,-9023000000.0,-3750000000.0,-5518000000.0,-4000000000.0
Net Long Term Debt Issuance,-9023000000.0,-3750000000.0,-5518000000.0,-4000000000.0
Long Term Debt Issuance,NaN,NaN,0.0,0.0
Long Term Debt Payments,-9023000000.0,-3750000000.0,-5518000000.0,-4000000000.0
Net Short Term Debt Issuance,NaN,NaN,0.0,0.0
Net Common Stock Issuance,-30855000000.0,-25692000000.0,-21625000000.0,-18401000000.0
Common Stock Issuance,1841000000.0,1693000000.0,1343000000.0,1142000000.0
Common Stock Payments,-32696000000.0,-27385000000.0,-22968000000.0,-19543000000.0
Cash Dividends Paid,-18135000000.0,-16521000000.0,-15137000000.0,-13811000000.0
Common Stock Dividend Paid,-18135000000.0,-16521000000.0,-15137000000.0,-13811000000.0
Net Other Financing Charges,-863000000.0,-2523000000.0,-3751000000.0,-675000000.0
End Cash Position,13931000000.0,14224000000.0,13576000000.0,11356000000.0
Changes In Cash,-152000000.0,677000000.0,2421000000.0,-475000000.0
Effect Of Exchange Rate Changes,-141000000.0,-29000000.0,-201000000.0,-115000000.0
Beginning Cash Position,14224000000.0,13576000000.0,11356000000.0,11946000000.0
Capital Expenditure,-23886000000.0,-20622000000.0,-15441000000.0,-13925000000.0
Issuance Of Capital Stock,1841000000.0,1693000000.0,1343000000.0,1142000000.0
Issuance Of Debt,NaN,NaN,0.0,0.0
Repayment Of Debt,-9023000000.0,-3750000000.0,-5518000000.0,-4000000000.0
Repurchase Of Capital Stock,-32696000000.0,-27385000000.0,-22968000000.0,-19543000000.0
Free Cash Flow,65149000000.0,56118000000.0,45234000000.0,38260000000.0

In [21]:
msft.quarterly_cashflow

,2022-09-30,2022-06-30,2022-03-31,2021-12-31
Operating Cash Flow,23198000000.0,24629000000.0,25386000000.0,14480000000.0
Cash Flow From Continuing Operating Activities,23198000000.0,24629000000.0,25386000000.0,14480000000.0
Net Income From Continuing Operations,17556000000.0,16740000000.0,16728000000.0,18765000000.0
Operating Gains Losses,-22000000.0,157000000.0,105000000.0,-307000000.0
Depreciation Amortization Depletion,2790000000.0,3979000000.0,3773000000.0,3496000000.0
Depreciation And Amortization,2790000000.0,3979000000.0,3773000000.0,3496000000.0
Depreciation,2790000000.0,3979000000.0,3773000000.0,3496000000.0
Deferred Tax,-1191000000.0,283000000.0,-198000000.0,183000000.0
Deferred Income Tax,-1191000000.0,283000000.0,-198000000.0,183000000.0
Stock Based Compensation,2192000000.0,1997000000.0,1906000000.0,1897000000.0
Change In Working Capital,1873000000.0,1473000000.0,3072000000.0,-9554000000.0
Change In Receivables,11729000000.0,-12634000000.0,857000000.0,-5543000000.0
Changes In Account Receivables,11729000000.0,-12634000000.0,857000000.0,-5543000000.0
Change In Inventory,-543000000.0,-461000000.0,-279000000.0,394000000.0
Change In Payables And Accrued Expense,-1567000000.0,2659000000.0,520000000.0,235000000.0
Change In Payable,-1567000000.0,2659000000.0,520000000.0,235000000.0
Change In Account Payable,-1567000000.0,2659000000.0,520000000.0,235000000.0
Change In Other Current Assets,-998000000.0,-3145000000.0,-633000000.0,-78000000.0
Change In Other Current Liabilities,-3836000000.0,3499000000.0,1725000000.0,1838000000.0
Change In Other Working Capital,-2912000000.0,11555000000.0,882000000.0,-6400000000.0
Investing Cash Flow,-3132000000.0,-9729000000.0,-16171000000.0,-1161000000.0
Cash Flow From Continuing Investing Activities,-3132000000.0,-9729000000.0,-16171000000.0,-1161000000.0
Net PPE Purchase And Sale,-6283000000.0,-6871000000.0,-5340000000.0,-5865000000.0
Purchase Of PPE,-6283000000.0,-6871000000.0,-5340000000.0,-5865000000.0
Net Business Purchase And Sale,-349000000.0,-1263000000.0,-18719000000.0,-850000000.0
Purchase Of Business,-349000000.0,-1263000000.0,-18719000000.0,-850000000.0
Net Investment Purchase And Sale,4360000000.0,-457000000.0,9069000000.0,5643000000.0
Purchase Of Investment,-5013000000.0,-4919000000.0,-8723000000.0,-2505000000.0
Sale Of Investment,9373000000.0,4462000000.0,17792000000.0,8148000000.0
Net Other Investing Changes,-860000000.0,-1138000000.0,-1181000000.0,-89000000.0
Financing Cash Flow,-10883000000.0,-13269000000.0,-17345000000.0,-11986000000.0
Cash Flow From Continuing Financing Activities,-10883000000.0,-13269000000.0,-17345000000.0,-11986000000.0
Net Issuance Payments Of Debt,-1000000000.0,0.0,-4197000000.0,0.0
Net Long Term Debt Issuance,-1000000000.0,0.0,-4197000000.0,0.0
Long Term Debt Payments,-1000000000.0,0.0,-4197000000.0,0.0
Net Common Stock Issuance,-4998000000.0,-8296000000.0,-8345000000.0,-7142000000.0
Common Stock Issuance,575000000.0,461000000.0,477000000.0,291000000.0
Common Stock Payments,-5573000000.0,-8757000000.0,-8822000000.0,-7433000000.0
Cash Dividends Paid,-4621000000.0,-4632000000.0,-4645000000.0,-4652000000.0
Common Stock Dividend Paid,-4621000000.0,-4632000000.0,-4645000000.0,-4652000000.0
Net Other Financing Charges,-264000000.0,-341000000.0,-158000000.0,-192000000.0
End Cash Position,22884000000.0,13931000000.0,12498000000.0,20604000000.0
Changes In Cash,9183000000.0,1631000000.0,-8130000000.0,1333000000.0
Effect Of Exchange Rate Changes,-230000000.0,-198000000.0,24000000.0,106000000.0
Beginning Cash Position,13931000000.0,12498000000.0,20604000000.0,19165000000.0
Capital Expenditure,-6283000000.0,-6871000000.0,-5340000000.0,-5865000000.0
Issuance Of Capital Stock,575000000.0,461000000.0,477000000.0,291000000.0
Repayment Of Debt,-1000000000.0,0.0,-4197000000.0,0.0
Repurchase Of Capital Stock,-5573000000.0,-8757000000.0,-8822000000.0,-7433000000.0
Free Cash Flow,16915000000.0,17758000000.0,20046000000.0,8615000000.0

In [22]:
# show earnings
msft.earnings

           Revenue     Earnings
Year
2019  125843000000  39240000000
2020  143015000000  44281000000
2021  168088000000  61271000000
2022  198270000000  72738000000

In [23]:
msft.quarterly_earnings

             Revenue     Earnings
Quarter
4Q2021   51728000000  18765000000
1Q2022   49360000000  16728000000
2Q2022   51865000000  16740000000
3Q2022   50122000000  17556000000

In [24]:
msft.major_holders

        0                                      1
0   0.06%        % of Shares Held by All Insider
1  73.33%       % of Shares Held by Institutions
2  73.38%        % of Float Held by Institutions
3    5956  Number of Institutions Holding Shares

In [25]:

msft.institutional_holders

,Holder,Shares,Date Reported,% Out,Value
0,"Vanguard Group, Inc. (The)",634238715,2022-09-29,0.0851,145145533798
1,Blackrock Inc.,518843676,2022-09-29,0.0696,118737378419
2,State Street Corporation,295509547,2022-09-29,0.0396,67627361634
3,"FMR, LLC",204088395,2022-09-29,0.0274,46705630441
4,Price (T.Rowe) Associates Inc,171346779,2022-09-29,0.0230,39212711419
5,"Geode Capital Management, LLC",139462260,2022-09-29,0.0187,31915939052
6,Morgan Stanley,104765804,2022-09-29,0.0141,23975654884
7,Capital World Investors,97528997,2022-09-29,0.0131,22319511558
8,JP Morgan Chase & Company,92745324,2022-09-29,0.0124,21224767963
9,Capital International Investors,84987239,2022-09-29,0.0114,19449330163

In [26]:
msft.mutualfund_holders

,Holder,Shares,Date Reported,% Out,Value
0,Vanguard Total Stock Market Index Fund,222313847,2022-09-29,0.0298,50876525242
1,Vanguard 500 Index Fund,169062762,2022-09-29,0.0227,38690014115
2,SPDR S&P 500 ETF Trust,82389656,2022-11-29,0.0111,18854873278
3,Fidelity 500 Index Fund,80870977,2022-11-29,0.0108,18507323580
4,iShares Core S&P 500 ETF,67412361,2022-10-30,0.0090,15427319226
5,"Invesco ETF Tr-Invesco QQQ Tr, Series 1 ETF",65747097,2022-11-29,0.0088,15046223549
6,Vanguard Growth Index Fund,61426549,2022-09-29,0.0082,14057466113
7,Vanguard Institutional Index Fund-Institutiona...,54149972,2022-09-29,0.0073,12392221422
8,Growth Fund Of America Inc,49038474,2022-09-29,0.0066,11222455074
9,Select Sector SPDR Fund-Technology,35233656,2022-11-29,0.0047,8063222390

In [27]:
# show sustainability
msft.sustainability

                                     Value
2022-8
palmOil                              False
controversialWeapons                 False
gambling                             False
socialScore                           8.39
nuclear                              False
furLeather                           False
alcoholic                            False
gmo                                  False
catholic                             False
socialPercentile                      None
peerCount                              105
governanceScore                       5.33
environmentPercentile                 None
animalTesting                        False
tobacco                              False
totalEsg                             15.24
highestControversy                       3
esgPerformance                  UNDER_PERF
coal                                 False
pesticides                           False
adult                                False
percentile                           10.73
peerGroup              Software & Services
smallArms                            False
environmentScore                      1.53
governancePercentile                  None
militaryContract                     False

In [28]:
# show analysts recommendations
msft.recommendations

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2022-11-02 10:29:21       Macquarie        Neutral              init
2023-01-04 11:22:05             UBS        Neutral        Buy   down
2023-01-05 09:50:39     DA Davidson            Buy              init
2023-01-09 11:22:14   Piper Sandler     Overweight              main
2023-01-10 12:01:06        Barclays     Overweight              main

[428 rows x 4 columns]

In [29]:
msft.recommendations_summary

                               Firm       To Grade From Grade Action
Date
2012-03-16 08:19:00  Argus Research            Buy                up
2012-03-19 14:00:00  Hilliard Lyons  Long-Term Buy              main
2012-03-22 07:03:00  Morgan Stanley     Overweight              main
2012-04-03 11:53:00             UBS            Buy              main
2012-04-20 06:18:00   Deutsche Bank            Buy              main
...                             ...            ...        ...    ...
2022-11-02 10:29:21       Macquarie        Neutral              init
2023-01-04 11:22:05             UBS        Neutral        Buy   down
2023-01-05 09:50:39     DA Davidson            Buy              init
2023-01-09 11:22:14   Piper Sandler     Overweight              main
2023-01-10 12:01:06        Barclays     Overweight              main

[428 rows x 4 columns]

In [30]:
# show analysts other work
msft.analyst_price_target

                              0
targetLowPrice           200.00
currentPrice             228.85
targetMeanPrice          292.89
targetHighPrice          411.00
numberOfAnalystOpinions   46.00

In [31]:
msft.revenue_forecasts

,avg,low,high,numberOfAnalysts,yearAgoRevenue,growth,period,endDate
0,5.299160e+10,5.238900e+10,5.387180e+10,34.0,5.172800e+10,0.024,0q,2022-12-31
1,5.253600e+10,4.918600e+10,5.499940e+10,33.0,4.936000e+10,0.064,+1q,2023-03-31
2,2.123650e+11,2.053830e+11,2.220450e+11,46.0,1.982700e+11,0.071,0y,2023-06-30
3,2.397290e+11,2.153710e+11,2.590990e+11,46.0,2.123650e+11,0.129,+1y,2024-06-30
4,NaN,NaN,NaN,NaN,NaN,NaN,+5y,None
5,NaN,NaN,NaN,NaN,NaN,NaN,-5y,None

In [32]:
msft.earnings_forecasts

,avg,low,high,yearAgoEps,numberOfAnalysts,growth,period,endDate
0,2.30,2.23,2.36,2.48,35.0,-0.073,0q,2022-12-31
1,2.33,1.95,2.50,2.22,34.0,0.050,+1q,2023-03-31
2,9.55,9.26,10.01,9.21,45.0,0.037,0y,2023-06-30
3,11.17,10.21,12.48,9.55,45.0,0.170,+1y,2024-06-30
4,NaN,NaN,NaN,NaN,NaN,NaN,+5y,None
5,NaN,NaN,NaN,NaN,NaN,NaN,-5y,None

In [33]:
msft.earnings_trend

,Max Age,End Date,Growth,Earnings Estimate Avg,Earnings Estimate Low,Earnings Estimate High,Earnings Estimate Year Ago Eps,Earnings Estimate Number Of Analysts,Earnings Estimate Growth,Revenue Estimate Avg,...,Revenue Estimate Growth,Eps Trend Current,Eps Trend 7Days Ago,Eps Trend 30Days Ago,Eps Trend 60Days Ago,Eps Trend 90Days Ago,Eps Revisions Up Last7Days,Eps Revisions Up Last30Days,Eps Revisions Down Last30Days,Eps Revisions Down Last90Days
Period,,,,,,,,,,,,,,,,,,,,,
0Q,1,2022-12-31,-0.07300,2.30,2.23,2.36,2.48,35.0,-0.073,5.299160e+10,...,0.024,2.30,2.29,2.29,2.29,2.58,1.0,2.0,0.0,NaN
+1Q,1,2023-03-31,0.05000,2.33,1.95,2.50,2.22,34.0,0.050,5.253600e+10,...,0.064,2.33,2.33,2.33,2.33,2.52,0.0,1.0,1.0,NaN
0Y,1,2023-06-30,0.03700,9.55,9.26,10.01,9.21,45.0,0.037,2.123650e+11,...,0.071,9.55,9.55,9.55,9.55,10.09,0.0,4.0,1.0,NaN
+1Y,1,2024-06-30,0.17000,11.17,10.21,12.48,9.55,45.0,0.170,2.397290e+11,...,0.129,11.17,11.18,11.18,11.18,11.90,0.0,4.0,1.0,NaN
+5Y,1,NaT,0.12880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-5Y,1,NaT,0.24086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# show next event (earnings, etc)
msft.calendar

                                Value
Earnings Date     2023-01-24 21:00:00
Earnings Average                  2.3
Earnings Low                     2.23
Earnings High                    2.36
Revenue Average           52991600000
Revenue Low               52389000000
Revenue High              53871800000

In [35]:
# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default. 
# Note: If more are needed use msft.get_earnings_dates(limit=XX) with increased limit argument.
msft.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2023-10-23 06:00:00-04:00           NaN           NaN          NaN
2023-07-24 06:00:00-04:00           NaN           NaN          NaN
2023-04-24 06:00:00-04:00           NaN           NaN          NaN
2023-01-24 17:00:00-05:00          2.30           NaN          NaN
2023-01-24 16:00:00-05:00          2.30           NaN          NaN
2022-10-25 12:00:00-04:00          2.30          2.35       0.0204
2022-07-26 12:00:00-04:00          2.29          2.23      -0.0275
2022-04-26 12:00:00-04:00          2.19          2.22       0.0160
2022-01-25 11:00:00-05:00          2.31          2.48       0.0727
2021-10-26 12:00:00-04:00          2.08          2.27       0.0940
2021-07-27 12:00:00-04:00          1.92          2.17       0.1326
2021-04-27 12:00:00-04:00          1.78          2.03       0.1411

In [36]:
# show ISIN code - *experimental*
# ISIN = International Securities Identification Number
msft.isin

'-'

In [37]:
# show options expirations
msft.options

('2023-01-13',
 '2023-01-20',
 '2023-01-27',
 '2023-02-03',
 '2023-02-10',
 '2023-02-17',
 '2023-02-24',
 '2023-03-17',
 '2023-04-21',
 '2023-06-16',
 '2023-07-21',
 '2023-08-18',
 '2023-09-15',
 '2024-01-19',
 '2024-06-21',
 '2025-01-17',
 '2025-06-20')

In [38]:
# show news
msft.news

[{'uuid': 'b92c0410-e8ae-3ccb-81e9-7cf6c522f529',
  'title': 'Microsoft: AI will not turn Bing into a Google-killer',
  'publisher': 'Financial Times',
  'link': 'https://finance.yahoo.com/m/b92c0410-e8ae-3ccb-81e9-7cf6c522f529/microsoft%3A-ai-will-not-turn.html',
  'providerPublishTime': 1673403284,
  'type': 'STORY',
  'relatedTickers': ['MSFT', 'GOOGL']},
 {'uuid': '6cfe9472-5ecf-358d-bd3d-b332f377328c',
  'title': 'Why Microsoft Stock Is Wedbushâ€™s Favorite Cloud Play for 2023',
  'publisher': 'Barrons.com',
  'link': 'https://finance.yahoo.com/m/6cfe9472-5ecf-358d-bd3d-b332f377328c/why-microsoft-stock-is.html',
  'providerPublishTime': 1673388300,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/4XDzgx4_Eqw5JUlupoDXFw--~B/aD02NDA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/6449a14f6681cf849a074dcea113279a',
     'width': 1280,
     'height': 640,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/vl5eFqc8etWy5mjyKdQqUw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/Barrons.com/6449a14f6681cf849a074dcea113279a',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': '5544c4a0-9d22-3d4b-9b0e-55855c6893f6',
  'title': 'What Is ChatGPT and Why Is Microsoft Interested in Buying It?',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/5544c4a0-9d22-3d4b-9b0e-55855c6893f6/what-is-chatgpt-and-why-is.html',
  'providerPublishTime': 1673387930,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/bnQFkvEZCbsFjL.uZHliBQ--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/c753f9aae86903cc37ae6c948339b2f9',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/5Xv9TUfck0ViUHouPzWp5A--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/c753f9aae86903cc37ae6c948339b2f9',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'GOOGL', 'AMZN']},
 {'uuid': 'a836cd7e-5d41-3bc1-aa04-8645817ae823',
  'title': 'How A Big Artificial Intelligence Investment Could Pay Off For Microsoft',
  'publisher': "Investor's Business Daily",
  'link': 'https://finance.yahoo.com/m/a836cd7e-5d41-3bc1-aa04-8645817ae823/how-a-big-artificial.html',
  'providerPublishTime': 1673386186,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/Y13lWdkvysnIarKklZ0Z.g--~B/aD01NjM7dz0xMDAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/a163b1734ce3ea2d49220ecdb91c5638',
     'width': 1000,
     'height': 563,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/bCZP7UwrGaIWHod7w9mQ3g--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/ibd.com/a163b1734ce3ea2d49220ecdb91c5638',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'GOOGL']},
 {'uuid': 'caf4df49-7788-3b98-813d-56796510bbdb',
  'title': 'Microsoft Has Found Its Anti-Google Weapon',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/caf4df49-7788-3b98-813d-56796510bbdb/microsoft-has-found-its.html',
  'providerPublishTime': 1673383560,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/sTzHhmyIW2ij02quRBimCA--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/thestreet.com/2399b63fbcf0f3b32672a515179492d2',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/S5WCh0QJOKhcA5SuliTWOA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/2399b63fbcf0f3b32672a515179492d2',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'GOOGL']},
 {'uuid': 'c42e84a9-247f-30ce-b08e-3502b826c3aa',
  'title': 'Microsoft to place $10 billion â€˜strategic betâ€™ on ChatGPT: Semafor editor',
  'publisher': 'Yahoo Finance Video',
  'link': 'https://finance.yahoo.com/video/microsoft-place-10-billion-strategic-203118941.html',
  'providerPublishTime': 1673382678,
  'type': 'VIDEO',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/osSJEoBq8s6tnAckrbzQMA--~B/aD0xODMwO3c9MzI1MTthcHBpZD15dGFjaHlvbg--/https://s.yimg.com/os/creatr-uploaded-images/2023-01/85ea3690-9125-11ed-bcfb-e836ba0e5951',
     'width': 3251,
     'height': 1830,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/57_vftfbTOPbsJylgYfeYQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://s.yimg.com/os/creatr-uploaded-images/2023-01/85ea3690-9125-11ed-bcfb-e836ba0e5951',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'b6f9fc6c-abe7-3f97-874c-3a999ad71aa9',
  'title': 'Microsoftâ€™s Nadella Takes Fresh Aim at Google With OpenAI Talks',
  'publisher': 'Bloomberg',
  'link': 'https://finance.yahoo.com/news/microsoft-nadella-takes-fresh-aim-185406747.html',
  'providerPublishTime': 1673376846,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/.j9GISvbBEycF6vBrz028g--~B/aD0xMzM0O3c9MjAwMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/bloomberg_markets_842/7d3091643d2bee945e3372a26cfc1062',
     'width': 2000,
     'height': 1334,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/RWstRjnhWF7RsFAjHG1Zlg--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/bloomberg_markets_842/7d3091643d2bee945e3372a26cfc1062',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'GOOGL']},
 {'uuid': '6abab310-7fbd-34f6-8495-238be1228f9b',
  'title': 'Microsoft targets $10B AI investment',
  'publisher': 'Fox Business',
  'link': 'https://finance.yahoo.com/news/microsoft-targets-10b-ai-investment-172847938.html',
  'providerPublishTime': 1673371727,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/jFCEwViQx.mUfs2wenAKjw--~B/aD0zMTA1O3c9NDY1NzthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/fox_business_text_367/dfff11c9eb02c08c0380428df796af61',
     'width': 4657,
     'height': 3105,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/YfXehQpz0Q8fIfegeM0ObA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/fox_business_text_367/dfff11c9eb02c08c0380428df796af61',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']}]

In [39]:
# get option chain for specific expiration
opt = msft.option_chain('YYYY-MM-DD')

ValueError: Expiration `YYYY-MM-DD` cannot be found. Available expiration are: [2023-01-13, 2023-01-20, 2023-01-27, 2023-02-03, 2023-02-10, 2023-02-17, 2023-02-24, 2023-03-17, 2023-04-21, 2023-06-16, 2023-07-21, 2023-08-18, 2023-09-15, 2024-01-19, 2024-06-21, 2025-01-17, 2025-06-20]

In [ ]:
# data available via: opt.calls, opt.puts