In [1]:
import pandas as pd
import sys
import psycopg2
import numpy as np

In [2]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
# Connection parameters, yours will be different
param_dic = {
    "host"      : "stockschapnes.postgres.database.azure.com",
    "database"  : "postgres",
    "user"      : "chapnes",
    "password"  : "House333!",
    "port" : "5432"
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1)
    print("Connection successful")
    return conn




def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1

    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()

    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df



# Connect to the database
conn = connect(param_dic)
# column_names = ["id", "source", "datetime", "mean_temp"]
column_names = ["id", "p18_05_20_01", "p19_05_20_06", "p19_10_21_01", "p20_05_21_10", "p21_06_22_01", "p22_01", "option"]

# Execute the "SELECT *" query
df = postgresql_to_dataframe(conn, "select * from test_100_plus1", column_names)


df

Connecting to the PostgreSQL database...
Connection successful

Empty DataFrame
Columns: [id, p18_05_20_01, p19_05_20_06, p19_10_21_01, p20_05_21_10, p21_06_22_01, p22_01, option]
Index: []

In [4]:
df.head(10)

Empty DataFrame
Columns: [id, p18_05_20_01, p19_05_20_06, p19_10_21_01, p20_05_21_10, p21_06_22_01, p22_01, option]
Index: []

In [5]:

df_more_0_pre = df[(df.p18_05_20_01 > 0)
                     & (df.p19_05_20_06 > 0)
                     & (df.p19_10_21_01 > 0)
                     & (df.p20_05_21_10 > 0)
                     & (df.p21_06_22_01 > 0)
                     & (df.p22_01 > 0)]


df_more_0 = df_more_0_pre.copy()
df_more_0

Empty DataFrame
Columns: [id, p18_05_20_01, p19_05_20_06, p19_10_21_01, p20_05_21_10, p21_06_22_01, p22_01, option]
Index: []

In [6]:
# df_more_minus_3['p18_05_20_01'] = df_more_minus_3['p18_05_20_01'].astype(float)
# df_more_minus_3['p19_05_20_06'] = df_more_minus_3['p19_05_20_06'].astype(float)
# df_more_minus_3['p19_10_21_01'] = df_more_minus_3['p19_10_21_01'].astype(float)
# df_more_minus_3['p20_05_21_10'] = df_more_minus_3['p20_05_21_10'].astype(float)
# df_more_minus_3['p21_06_22_01'] = df_more_minus_3['p21_06_22_01'].astype(float)
# df_more_minus_3['p22_01'] = df_more_minus_3['p22_01'].astype(float)


df_more_0['p18_05_20_01'] = df_more_0['p18_05_20_01'].astype(float)
df_more_0['p19_05_20_06'] = df_more_0['p19_05_20_06'].astype(float)
df_more_0['p19_10_21_01'] = df_more_0['p19_10_21_01'].astype(float)
df_more_0['p20_05_21_10'] = df_more_0['p20_05_21_10'].astype(float)
df_more_0['p21_06_22_01'] = df_more_0['p21_06_22_01'].astype(float)
df_more_0['p22_01'] = df_more_0['p22_01'].astype(float)

# df_more_minus_3['Sum'] = df_more_minus_3['p18_05_20_01'] + df_more_minus_3['p19_05_20_06'] + df_more_minus_3['p19_10_21_01'] + df_more_minus_3['p20_05_21_10'] + df_more_minus_3['p21_06_22_01'] + df_more_minus_3['p22_01'] 

# df_more_minus_3

In [7]:
df_more_0['Sum'] = df_more_0['p18_05_20_01'] + df_more_0['p19_05_20_06'] + df_more_0['p19_10_21_01'] + df_more_0['p20_05_21_10'] + df_more_0['p21_06_22_01'] + df_more_0['p22_01'] 
df_more_0 = df_more_0.sort_values(by=['Sum'], ascending=False)
df_more_0

Empty DataFrame
Columns: [id, p18_05_20_01, p19_05_20_06, p19_10_21_01, p20_05_21_10, p21_06_22_01, p22_01, option, Sum]
Index: []

In [8]:
df_more_150 = df_more_0[(df_more_0.Sum > 130)]

In [9]:
df_more_150['option'].values

array([], dtype=object)

In [10]:
df_less_0_pre = df[(df.p18_05_20_01 < 5)
                     & (df.p19_05_20_06 < 5)
                     & (df.p19_10_21_01 < 5)
                     & (df.p20_05_21_10 < 5)
                     & (df.p21_06_22_01 < 5)
                     & (df.p22_01 < 5)]

df_less_0 = df_less_0_pre.copy()
df_less_0

Empty DataFrame
Columns: [id, p18_05_20_01, p19_05_20_06, p19_10_21_01, p20_05_21_10, p21_06_22_01, p22_01, option]
Index: []

In [11]:
df_less_0['Sum'] = df_less_0['p18_05_20_01'] + df_less_0['p19_05_20_06'] + df_less_0['p19_10_21_01'] + df_less_0['p20_05_21_10'] + df_less_0['p21_06_22_01'] + df_less_0['p22_01'] 
df_less_0 = df_less_0.sort_values(by=['Sum'], ascending=True)
df_less_0

Empty DataFrame
Columns: [id, p18_05_20_01, p19_05_20_06, p19_10_21_01, p20_05_21_10, p21_06_22_01, p22_01, option, Sum]
Index: []

In [12]:
df_less_150 = df_less_0[(df_less_0.Sum < -16)]

In [13]:
df_less_150['option'].values

array([], dtype=object)