In [14]:
import pandas as pd
import sys
import psycopg2
import numpy as np

In [15]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [16]:
# Connection parameters, yours will be different
param_dic = {
    "host"      : "stockschapnes.postgres.database.azure.com",
    "database"  : "postgres",
    "user"      : "chapnes",
    "password"  : "House333!",
    "port" : "5432"
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1)
    print("Connection successful")
    return conn




def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1

    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()

    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df



# Connect to the database
conn = connect(param_dic)
# column_names = ["id", "source", "datetime", "mean_temp"]
column_names = ["id", "p18_05_20_01", "p19_05_20_06", "p19_10_21_01", "p20_05_21_10", "p21_06_22_01", "p22_01", "option"]

# Execute the "SELECT *" query
# df = postgresql_to_dataframe(conn, "select * from test_100_beta_more_09", column_names)



# test_100 = postgresql_to_dataframe(conn, "select * from test_100_common_cl_5", column_names)
# test_100 = postgresql_to_dataframe(conn, "select * from test_100_common_cl_2", column_names)
test_100 = postgresql_to_dataframe(conn, "select * from cr_test_100_common_cl_4", column_names)

# df

Connecting to the PostgreSQL database...
Connection successful

In [17]:
test_100

    id        p18_05_20_01        p19_05_20_06        p19_10_21_01        p20_05_21_10        p21_06_22_01               p22_01                                             option
0    1  10.233815618942229   24.43335459535942   83.13753852136004  158.61089849173385   41.61712832158734   -56.53874654632329  gf_copy.iloc[ind[i], 2] > gf_copy.iloc[ind[i] ...
1    2   16.62380435191754  3.5390824998316295  17.727125340968218   55.95811901410663  16.521834221298164   -67.72894725119217  gf_copy.iloc[ind[i], 2] > gf_copy.iloc[ind[i] ...
2    3  -4.727044579326875   3.410313575633734   3.410313575633734  -8.339440951143569   -6.81845282726293   -23.44601988702198  gf_copy.iloc[ind[i], 2] > gf_copy.iloc[ind[i] ...
3    4  1.9905289068803058                 0.0                 0.0                 0.0                 0.0   -7.570680322568681  gf_copy.iloc[ind[i], 2] > gf_copy.iloc[ind[i] ...
4    5   16.95138910514941  18.425859479839207   77.13004340583983    146.619227590948   48.43558114885027   -42.82649624690412  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
5    6  15.390622644397618  18.425859479839207   78.56816823925689  148.05735242436506   48.43558114885027   -44.89787193927868  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
6    7  23.375804184657945   22.34358083974432   74.50070805890168  148.05735242436506   48.43558114885027  -42.507542345819836  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
7    8  22.357965169751736  24.273412937205197   76.43054015636255  127.41368610943562   24.02260216424886  -42.507542345819836  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
8    9   37.62216125825311  24.273412937205197   73.10301209592042  124.26313291874193   16.65359425706018  -44.228489367242034  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
9   10  34.865940637147524  24.273412937205197   64.33380726742973  115.49392809025125  22.283982808895594  -48.652488718502426  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
10  11   34.97580643505213  24.273412937205197   64.33380726742973  115.49392809025125  22.283982808895594  -31.127735027691664  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
11  12  35.081594409390625   27.29291496696918     60.527236442896  108.77364321029202  14.209553622019772  -20.179778880982813  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
12  13  10.074110297892917   23.96212383210825   82.66630775810887  158.61089849173385   41.61712832158734   -56.53874654632329  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
13  14  12.877528254018259   23.96212383210825   94.95106293556783  170.89565366919282   41.61712832158734   -56.53874654632329  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
14  15  12.877528254018259   23.96212383210825   94.95106293556783  170.89565366919282   46.28127144358415   -56.53874654632329  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
15  16    26.1736401581185  24.901844544711334   94.95106293556783  170.89565366919282   46.28127144358415   -73.89269602592492  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
16  17    26.1736401581185  24.901844544711334   94.95106293556783  166.17192156811842   46.43824945096278   -73.88084203231901  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
17  18     27.990453954534   24.67758394768844   94.95106293556783   178.4323690386857    66.1064591675786   -73.86889439403184  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
18  19   36.55319216990588  28.607545853597845  103.37616486583966  212.21736579530344   79.98679591906853   -46.43950770539988  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...
19  20   36.55319216990588  28.607545853597845   99.69632748111265  218.32223390244556   89.77150141093765   -58.27315386043393  gf_copy.iloc[ind[i], 2] > (gf_copy.iloc[ind[i]...

In [18]:
def get_plus_results(df):
    df_more_0_pre = df[(df.p18_05_20_01 > 0)
                         & (df.p19_05_20_06 > 0)
                         & (df.p19_10_21_01 > 0)
                         & (df.p20_05_21_10 > 0)
                         & (df.p21_06_22_01 > 0)
                         & (df.p22_01 > 0)]


    df_more_0 = df_more_0_pre.copy()
    
    df_more_0['p18_05_20_01'] = df_more_0['p18_05_20_01'].astype(float)
    df_more_0['p19_05_20_06'] = df_more_0['p19_05_20_06'].astype(float)
    df_more_0['p19_10_21_01'] = df_more_0['p19_10_21_01'].astype(float)
    df_more_0['p20_05_21_10'] = df_more_0['p20_05_21_10'].astype(float)
    df_more_0['p21_06_22_01'] = df_more_0['p21_06_22_01'].astype(float)
    df_more_0['p22_01'] = df_more_0['p22_01'].astype(float)    
    
    df_more_0['Sum'] = df_more_0['p18_05_20_01'] + df_more_0['p19_05_20_06'] + df_more_0['p19_10_21_01'] + df_more_0['p20_05_21_10'] + df_more_0['p21_06_22_01'] + df_more_0['p22_01'] 
    df_more_0 = df_more_0.sort_values(by=['Sum'], ascending=False)
    return df_more_0
    
    

more_0 = get_plus_results(test_100)

In [19]:
def get_plus_options(df):
    df_more_150 = df[(df.Sum > 50)]
    return df_more_150['option'].values


plus = get_plus_options(more_0)

In [20]:
plus

array([], dtype=object)

In [21]:
more_0

Empty DataFrame
Columns: [id, p18_05_20_01, p19_05_20_06, p19_10_21_01, p20_05_21_10, p21_06_22_01, p22_01, option, Sum]
Index: []

In [22]:
# more_0.iloc[0,7]

In [23]:
def get_minus_results(df):


    df_less_0_pre = df[(df.p18_05_20_01 < 5)
                         & (df.p19_05_20_06 < 5)
                         & (df.p19_10_21_01 < 5)
                         & (df.p20_05_21_10 < 5)
                         & (df.p21_06_22_01 < 5)
                         & (df.p22_01 < 5)]

    df_less_0 = df_less_0_pre.copy()
    
    df_less_0['Sum'] = df_less_0['p18_05_20_01'] + df_less_0['p19_05_20_06'] + df_less_0['p19_10_21_01'] + df_less_0['p20_05_21_10'] + df_less_0['p21_06_22_01'] + df_less_0['p22_01'] 
    df_less_0 = df_less_0.sort_values(by=['Sum'], ascending=True)
    
    return df_less_0




less_5 = get_minus_results(test_100)

In [24]:
def get_minus_options(df):
    df_less_150 = df[(df.Sum < -16)]
    return df_less_150['option'].values



minus = get_minus_options(less_5)

In [25]:
minus

array(['gf_copy.iloc[ind[i], 2] > gf_copy.iloc[ind[i] - 1, 2] > gf_copy.iloc[ind[i] - 2, 2] > gf_copy.iloc[ind[i] - 3, 2]'],
      dtype=object)

In [26]:
less_5

   id        p18_05_20_01       p19_05_20_06       p19_10_21_01        p20_05_21_10       p21_06_22_01              p22_01                                             option                  Sum
2   3  -4.727044579326875  3.410313575633734  3.410313575633734  -8.339440951143569  -6.81845282726293  -23.44601988702198  gf_copy.iloc[ind[i], 2] > gf_copy.iloc[ind[i] ...  -36.510331093487886
3   4  1.9905289068803058                0.0                0.0                 0.0                0.0  -7.570680322568681  gf_copy.iloc[ind[i], 2] > gf_copy.iloc[ind[i] ...  -5.5801514156883752