In [1]:
import pandas as pd
import sys
import psycopg2
import numpy as np

In [2]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [3]:
# Connection parameters, yours will be different
param_dic = {
    "host"      : "stockschapnes.postgres.database.azure.com",
    "database"  : "postgres",
    "user"      : "chapnes",
    "password"  : "House333!",
    "port" : "5432"
}
def connect(params_dic):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(**params_dic)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1)
    print("Connection successful")
    return conn




def postgresql_to_dataframe(conn, select_query, column_names):
    """
    Tranform a SELECT query into a pandas dataframe
    """
    cursor = conn.cursor()
    try:
        cursor.execute(select_query)
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        cursor.close()
        return 1

    # Naturally we get a list of tupples
    tupples = cursor.fetchall()
    cursor.close()

    # We just need to turn it into a pandas dataframe
    df = pd.DataFrame(tupples, columns=column_names)
    return df



# Connect to the database
conn = connect(param_dic)
# column_names = ["id", "source", "datetime", "mean_temp"]
column_names = ["id", "p18_05_20_01", "p19_05_20_06", "p19_10_21_01", "p20_05_21_10", "p21_06_22_01", "p22_01", "option"]

# Execute the "SELECT *" query
# df = postgresql_to_dataframe(conn, "select * from test_100_beta_more_09", column_names)



# test_100 = postgresql_to_dataframe(conn, "select * from test_100_common_cl_5", column_names)
# test_100 = postgresql_to_dataframe(conn, "select * from test_100_common_cl_2", column_names)
# test_100 = postgresql_to_dataframe(conn, "select * from cr_test_100_common_cl_2", column_names)
# test_100 = postgresql_to_dataframe(conn, "select * from cr_test_100_new_cl_2", column_names)
# test_100 = postgresql_to_dataframe(conn, "select * from cr_test_100_common_cl_4", column_names)
test_100 = postgresql_to_dataframe(conn, "select * from cr_test_100_common_cl_3", column_names)


# df

Connecting to the PostgreSQL database...
Connection successful

In [4]:
test_100.head(3)

   id         p18_05_20_01        p19_05_20_06       p19_10_21_01       p20_05_21_10        p21_06_22_01               p22_01                                             option
0   1  -13.075130880804494  30.959579416747683  95.00143826532903  145.1587487415157   64.60661954335427  -16.966948031426696  gf_copy.iloc[ind[i], 4] > gf_copy.iloc[ind[i] ...
1   2  -11.349311463161618  24.929034711343633  63.53055177619799  73.64547529022998   61.40280139477397  -11.914410323971811  gf_copy.iloc[ind[i], 4] > gf_copy.iloc[ind[i] ...
2   3   0.4660648667426994  20.739366246172125  32.63373342157467   69.1398216733222  63.249696691443745   -7.090287497076191  gf_copy.iloc[ind[i], 4] > gf_copy.iloc[ind[i] ...

In [5]:
def get_plus_results(df):
    df_more_0_pre = df[(df.p18_05_20_01 > 0)
                         & (df.p19_05_20_06 > 0)
                         & (df.p19_10_21_01 > 0)
                         & (df.p20_05_21_10 > 0)
                         & (df.p21_06_22_01 > 0)
                         & (df.p22_01 > 0)]


    df_more_0 = df_more_0_pre.copy()
    
    df_more_0['p18_05_20_01'] = df_more_0['p18_05_20_01'].astype(float)
    df_more_0['p19_05_20_06'] = df_more_0['p19_05_20_06'].astype(float)
    df_more_0['p19_10_21_01'] = df_more_0['p19_10_21_01'].astype(float)
    df_more_0['p20_05_21_10'] = df_more_0['p20_05_21_10'].astype(float)
    df_more_0['p21_06_22_01'] = df_more_0['p21_06_22_01'].astype(float)
    df_more_0['p22_01'] = df_more_0['p22_01'].astype(float)    
    
    df_more_0['Sum'] = df_more_0['p18_05_20_01'] + df_more_0['p19_05_20_06'] + df_more_0['p19_10_21_01'] + df_more_0['p20_05_21_10'] + df_more_0['p21_06_22_01'] + df_more_0['p22_01'] 
    df_more_0 = df_more_0.sort_values(by=['Sum'], ascending=False)
    return df_more_0
    
    

more_0 = get_plus_results(test_100)

In [6]:
def get_plus_options(df):
    df_more_150 = df[(df.Sum > 50)]
    return df_more_150['option'].values


plus = get_plus_options(more_0)

In [7]:
plus

array(['gf_copy.iloc[ind[i], 4] > (gf_copy.iloc[ind[i] - 1, 4] + 1.5) and gf_copy.iloc[ind[i], 4] > 1 and gf_copy.iloc[ind[i] - 1, 4] < -3.5'],
      dtype=object)

In [8]:
more_0

      id  p18_05_20_01  p19_05_20_06  p19_10_21_01  p20_05_21_10  p21_06_22_01    p22_01                                             option        Sum
154  155      8.270003     10.131868      7.312729      15.88721     10.752772  7.281581  gf_copy.iloc[ind[i], 4] > (gf_copy.iloc[ind[i]...  59.636164

In [9]:
# more_0.iloc[0,7]

In [10]:
def get_minus_results(df):


    df_less_0_pre = df[(df.p18_05_20_01 < 5)
                         & (df.p19_05_20_06 < 5)
                         & (df.p19_10_21_01 < 5)
                         & (df.p20_05_21_10 < 5)
                         & (df.p21_06_22_01 < 5)
                         & (df.p22_01 < 5)]

    df_less_0 = df_less_0_pre.copy()
    
    df_less_0['Sum'] = df_less_0['p18_05_20_01'] + df_less_0['p19_05_20_06'] + df_less_0['p19_10_21_01'] + df_less_0['p20_05_21_10'] + df_less_0['p21_06_22_01'] + df_less_0['p22_01'] 
    df_less_0 = df_less_0.sort_values(by=['Sum'], ascending=True)
    
    return df_less_0




less_5 = get_minus_results(test_100)

In [11]:
def get_minus_options(df):
    df_less_150 = df[(df.Sum < -16)]
    return df_less_150['option'].values



minus = get_minus_options(less_5)

In [12]:
minus

array([], dtype=object)

In [13]:
less_5

Empty DataFrame
Columns: [id, p18_05_20_01, p19_05_20_06, p19_10_21_01, p20_05_21_10, p21_06_22_01, p22_01, option, Sum]
Index: []