In [40]:
import fundamentalanalysis as fa
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
import datetime
import statistics as st

%matplotlib inline

In [41]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [42]:
# api_key = '00ef9804fcde0edd93b1b4821ee2f06a'
api_key = 'c81352430e2fe3c941faf0814227562b'

In [43]:
''' Колонки '''
ticker = 'F'
# ticker = 'AAPL'

# tickers_list = ['AXP', 'INTC']
# tickers_list = ['ADBE', 'AAPL', 'F']
# tickers_list = ['WBA', 'IRBT', 'WRK', 'IRBT', 'CSCO', 'KR']
# tickers_list = ['UAA', 'HBAN', 'HPE', 'IVZ', 'KEY', 'RF', 'BEN', 'WMB', 'DAL', 'GM', 'WRK', 'WFC', 'EBAY', 'VTR', 'AIG', 'MU', 'MET', 'NTAP', 'SYY', 'BXP', 'MNST', 'XOM', 'PYPL', 'DIS', 'TROW', 'HLT', 'QCOM', 'CVX', 'AAPL', 'HON', 'UPS', 'LOW', 'ACN', 'SNPS', 'LRCX', 'BKNG']

# tickers_list = ['F', 'WU', 'KMI', 'CNP', 'HPQ', 'GLW', 'KHC', 'LUV', 'CMCSA', 'NRG', 'BK', 'CSCO', 'USB', 'TJX', 'CAH', 'HIG', 'SCHW', 'HAS', 'WELL']
# tickers_list = ['F', 'WU', 'KMI', 'CNP', 'HPQ', 'GLW', 'KHC', 'LUV', 'CMCSA', 'NRG', 'BK', 'CSCO', 'USB', 'TJX', 'CAH', 'HIG', 'SCHW', 'HAS', 'WELL', 'DXCM', 'ROST', 'GRMN', 'NKE', 'YUM', 'GOOGL', 'JPM', 'GOOG', 'GPN', 'MMM', 'AXP', 'TGT', 'TXN', 'CRM', 'NDAQ', 'CAT', 'ILMN', 'V', 'GD', 'NFLX', 'MSFT', 'HD', 'MA', 'SPGI', 'IDXX', 'ADBE', 'AVGO',
# 'UAA', 'HBAN', 'HPE', 'IVZ', 'KEY', 'RF', 'BEN', 'WMB', 'DAL', 'GM', 'WRK', 'WFC', 'EBAY', 'VTR', 'AIG', 'MU', 'MET', 'NTAP', 'SYY', 'BXP', 'MNST', 'XOM', 'PYPL', 'DIS', 'TROW', 'HLT', 'QCOM', 'CVX', 'AAPL', 'HON', 'UPS']
# tickers_list = ['LRCX', 'BKNG','KEY', 'BAC', 'LVS', 'UAL', 'HOG', 'CFG', 'ALK', 'MAS', 'BBY', 'EMR', 'PSX', 'MS', 'LYB', 'RTX', 'RL', 'COP', 'AMAT', 'QRVO', 'SPG', 'DRI', 'BA', 'META', 'NVDA', 'FDX', 'ADSK', 'ABMD', 'GS',
# 'GPS', 'XRX', 'BKR', 'PARA', 'FCX', 'ALK', 'WDC', 'C', 'MOS', 'OKE', 'DHI', 'BBY', 'MPC', 'AMD', 'PRU', 'EXPE', 'EOG', 'VLO', 'MAR', 'HCA', 'ALB']
tickers_list = ['HBAN', 'HPE', 'IVZ', 'KEY', 'RF', 'BEN', 'WMB', 'DAL', 'GM', 'WRK', 'WFC', 'EBAY', 'VTR', 'AIG', 'MU', 'MET', 'NTAP', 'SYY', 'BXP', 'MNST']
# tickers_list = ['CLSK', 'CGNT', 'BOX', 'NTGR', 'SWI', 'FOUR', 'AMKR', 'BFH', 'SNX', 'MSFT', 'TER', 'QCOM', 'POSH', 'SAP', 'GRMN']
# tickers_list = ['CGNT', 'TER', 'GRMN']
# tickers_list =  ['SMAR', 'GLBE', 'DT', 'PLTK', 'MNDY', 'AEIS', 'TSM', 'SLP', 'VRT', 'AKAM', 'IBM', 'MRVL', 'ITRI', 'ACIW'] 


required_year = '2022'


''' время '''
stime='1990-01-01'
ftime='2023-02-01'
period = '1mo'  # '1d' '1wk'

In [45]:
def one_stock_analyse(ticker, api_key, required_year):

    def get_data_from_ticker(tick, interval='1mo'):
        ticker = yf.Ticker(tick)

        df = ticker.history(start='1990-01-01', end=None, interval=interval)
        x = pd.DataFrame(df)
        x.rename(columns={"Close": tick}, inplace=True)
        z = x.drop(columns=["Open", "High", "Low", "Volume", "Dividends", "Stock Splits"])
        return z

    
    df = get_data_from_ticker(ticker)



    def change_index(df):
        df_index = df.index.to_list()
        for i in range(len(df_index)):
            t = df_index[i].date()
            df_index[i] = t.strftime('%Y-%m-%d')
        df['Date_index'] = df_index
        df = df.set_index('Date_index')
        return df

    df = change_index(df)


    def get_key_metricks(ticker, api_key, required_year):
        key_metrics = fa.income_statement(ticker, api_key, period='annual')
        df_key_metr = key_metrics.T
        df_key_metr = df_key_metr.loc[required_year:'2000'].copy(deep=True)
        return df_key_metr



    df_key_metr = get_key_metricks(ticker, api_key, required_year)


    if df_key_metr.index[0] == required_year and f'{int(required_year)+1}-01-01' in df.index.to_list():
        last_year = True
    else:
        last_year = False



    def get_index(df):
        index_years = df.index.to_list()
        return index_years

    index_years = get_index(df_key_metr)



    def get_price_from_df(df, list_dates):
        new_list = []
        for i in range(len(list_dates)):
            x = int(list_dates[i])
            x += 1
            x = str(x)
            try:
                r = df.loc[f'{x}-01-01']
                r = float(r)
                new_list.append(r)
            except:
                new_list.append(0)

        return new_list


    stock_year_prices = get_price_from_df(df, index_years)


    df_key_metr[ticker] = list(stock_year_prices)
    df_key_metr.drop('period', axis=1, inplace=True)


    def change_percent_all_columns(df):
        x = df.columns.to_list()
        for i in range(len(x)):
            v = df[x[i]].to_list()
            l = []
            for y in range(len(v)):
                try:
                    if y != len(v):
                        vv = (v[y] / (v[y+1] / 100)) - 100
                        l.append(vv)
                    else:
                        vv = 0
                        l.append(vv)
                except:
                    l.append(0)
            df[f'change % {x[i]}'] = l
        return df

    df_with_changes = change_percent_all_columns(df_key_metr)
    df_with_changes = df_with_changes.reindex(index=df_with_changes.index[::-1])


    df_some_columns = df_with_changes[[f'change % {ticker}', 'change % costAndExpenses']]


    mean_result = st.mean(df_some_columns[f'change % {ticker}'].to_list()[1:])   
    
    df_with_changes.index.name='Date'
    df_with_changes = df_with_changes.reset_index()
    

    
    l = []

    for i in range(len(df_some_columns['change % costAndExpenses'])):
        if i <= 1:
            pass
        # elif i == len(df_some_columns['change % costAndExpenses']) - 1:
        #     pass
        elif df_with_changes['change % costAndExpenses'][1] == 0:
            pass
        elif df_with_changes['change % costAndExpenses'][i] < 0 and df_with_changes['change % costAndExpenses'][i-1] < 0 and df_with_changes['change % grossProfit'][i] < 0 and df_with_changes['change % grossProfit'][i] != 'Plus' and df_with_changes['change % eps'][i] < 140 and df_with_changes['change % eps'][i] != 'Plus':
            l.append([ticker, df_with_changes['Date'][i], df_with_changes[f'change % {ticker}'][i+1]])
        # elif df_with_changes[f'change % {ticker}'][i] < df_with_changes['change % debtToAssets'][i] and df_with_changes[f'change % {ticker}'][i-1] < df_with_changes['change % debtToAssets'][i-1]:
        #     l.append([ticker, df_with_changes['Date'][i], df_with_changes[f'change % {ticker}'][i+1]])
        # elif df_with_changes[f'change % {ticker}'][i] < df_with_changes['change % debtToAssets'][i]:
        #     l.append([ticker, df_with_changes['Date'][i], df_with_changes[f'change % {ticker}'][i+1]])
        else:
            pass  
    
    df_means_results = pd.DataFrame(l, columns = ['Ticker', 'Date', 'Result'])
    print(ticker)
    return df_means_results

In [46]:
def list_stock_analyse(tickers_list, api_key, required_year):
    l = []
    for i in range(len(tickers_list)):
        try:
            if i == 0:
                df = one_stock_analyse(tickers_list[i], api_key, required_year)
            else:
                df = pd.concat([df, one_stock_analyse(tickers_list[i], api_key, required_year)], ignore_index=True)
        except:
            pass
    return df


df_means_results = list_stock_analyse(tickers_list, api_key, required_year)

HBAN
HPE
IVZ
KEY
RF
BEN
WMB
DAL
GM
WRK
WFC
EBAY
VTR
AIG
MU
MET
NTAP
SYY
BXP
MNST

In [47]:
df_means_results

   Ticker  Date     Result
0     HPE  2014   0.000000
1     HPE  2015  66.757695
2     HPE  2016  26.519589
3     HPE  2017  -2.462799
4     HPE  2020  36.602838
5     IVZ  2009  31.000633
6     IVZ  2016  29.323317
7     BEN  2016   8.772003
8     BEN  2017 -21.807204
9     WMB  2012  20.392452
10    WMB  2013  12.814976
11    DAL  2016  22.689585
12     GM  2020   4.044993
13     MU  2002  96.224118
14   NTAP  2015  79.490725
15   NTAP  2016  63.659880
16   NTAP  2020  33.578896

Del zero values

In [48]:
df_means_results.drop(df_means_results[df_means_results.Result == 0].index, inplace=True)

In [49]:
df_means_results.reset_index(drop=True, inplace=True)

In [50]:
df_means_results

   Ticker  Date     Result
0     HPE  2015  66.757695
1     HPE  2016  26.519589
2     HPE  2017  -2.462799
3     HPE  2020  36.602838
4     IVZ  2009  31.000633
5     IVZ  2016  29.323317
6     BEN  2016   8.772003
7     BEN  2017 -21.807204
8     WMB  2012  20.392452
9     WMB  2013  12.814976
10    DAL  2016  22.689585
11     GM  2020   4.044993
12     MU  2002  96.224118
13   NTAP  2015  79.490725
14   NTAP  2016  63.659880
15   NTAP  2020  33.578896

In [51]:
df_means_results['Result'].mean()

31.725106157543824

In [12]:
def change_percent_all_columns(df):
    x = df.columns.to_list()
    for i in range(len(x)):
        v = df[x[i]].to_list()
        l = []
        for y in range(len(v)):
            try:
                if y != len(v):
                    if v[y] < 0 and v[y+1] > 0:
                        l.append('Minus')
                    elif v[y] > 0 and v[y+1] < 0:
                        l.append('Plus')
                    else:
                        vv = (v[y] / (v[y+1] / 100)) - 100
                        l.append(vv) 
                else:
                    vv = 0
                    l.append(vv)
                    # print(vv)
            except:
                l.append(0)
        df[f'change % {x[i]}'] = l
    return df

In [13]:
# def add_key_metrics(df):
#     v = 'revenuePerShare'
#     v1 = 'netIncomePerShare'
#     v2 = 'inventoryTurnover'
#     v3 = 'capexPerShare'
#     v4 = 'cashPerShare'
#     v5 = 'bookValuePerShare'
#     v6 = 'daysPayablesOutstanding'
#     v7 = 'receivablesTurnover'
#     l = []
#     l1 = []
#     l2 = []
#     l3 = []
#     l4 = []
#     l5 = []
#     l6 = []
#     l7 = []
#     for i in range(len(df['Ticker'])):
#         try:
#             if i == 0:
#                 key_metrics = fa.key_metrics(df['Ticker'][i], api_key, period='annual').T
#                 # print(key_metrics)
#                 key_metrics_change = change_percent_all_columns(key_metrics)
#                 date = df['Date'][i]
#                 l.append(key_metrics_change.loc[date, f'change % {v}'])
#                 l1.append(key_metrics_change.loc[date,f'change % {v1}'])
#                 l2.append(key_metrics_change.loc[date,f'change % {v2}'])
#                 l3.append(key_metrics_change.loc[date,f'change % {v3}'])
#                 l4.append(key_metrics_change.loc[date,f'change % {v4}'])
#                 l5.append(key_metrics_change.loc[date,f'change % {v5}'])
#                 l6.append(key_metrics_change.loc[date,f'change % {v6}'])
#                 l7.append(key_metrics_change.loc[date,f'change % {v7}'])
#             elif df['Ticker'][i] == df['Ticker'][i-1]:
#                 date = df['Date'][i]
#                 l.append(key_metrics_change.loc[date, f'change % {v}'])
#                 l1.append(key_metrics_change.loc[date,f'change % {v1}'])
#                 l2.append(key_metrics_change.loc[date,f'change % {v2}'])
#                 l3.append(key_metrics_change.loc[date,f'change % {v3}'])
#                 l4.append(key_metrics_change.loc[date,f'change % {v4}'])
#                 l5.append(key_metrics_change.loc[date,f'change % {v5}'])
#                 l6.append(key_metrics_change.loc[date,f'change % {v6}'])
#                 l7.append(key_metrics_change.loc[date,f'change % {v7}'])
#             else:
#                 key_metrics = fa.key_metrics(df['Ticker'][i], api_key, period='annual').T
#                 key_metrics_change = change_percent_all_columns(key_metrics)
#                 date = df['Date'][i]
#                 l.append(key_metrics_change.loc[date, f'change % {v}'])
#                 l1.append(key_metrics_change.loc[date,f'change % {v1}'])
#                 l2.append(key_metrics_change.loc[date,f'change % {v2}'])
#                 l3.append(key_metrics_change.loc[date,f'change % {v3}'])
#                 l4.append(key_metrics_change.loc[date,f'change % {v4}'])
#                 l5.append(key_metrics_change.loc[date,f'change % {v5}'])
#                 l6.append(key_metrics_change.loc[date,f'change % {v6}'])
#                 l7.append(key_metrics_change.loc[date,f'change % {v7}'])
#         except:
#             l.append(None)
#             l1.append(None)
#             l2.append(None)
#             l3.append(None)
#             l4.append(None)
#             l5.append(None)
#             l6.append(None)
#             l7.append(None)
#     df[f'change % {v}'] = l
#     df[f'change % {v1}'] = l1
#     df[f'change % {v2}'] = l2
#     df[f'change % {v3}'] = l3
#     df[f'change % {v4}'] = l4
#     df[f'change % {v5}'] = l5
#     df[f'change % {v6}'] = l6
#     df[f'change % {v7}'] = l7
    
#     return df

# df_with_parameters = add_key_metrics(df_means_results)

In [14]:
def add_income_st(df):
    v = 'revenue'
    v1 = 'costOfRevenue'
    v2 = 'grossProfit'
    v3 = 'ebitda'
    v4 = 'interestIncome'
    v5 = 'netIncome'
    v6 = 'eps'
    v7 = 'operatingExpenses'
    l = []
    l1 = []
    l2 = []
    l3 = []
    l4 = []
    l5 = []
    l6 = []
    l7 = []
    for i in range(len(df['Ticker'])):
        try: 
            if i == 0:
                key_metrics = fa.income_statement(df['Ticker'][i], api_key, period='annual').T
                # print(key_metrics)
                key_metrics_change = change_percent_all_columns(key_metrics)
                date = df['Date'][i]
                l.append(key_metrics_change.loc[date, f'change % {v}'])
                l1.append(key_metrics_change.loc[date,f'change % {v1}'])
                l2.append(key_metrics_change.loc[date,f'change % {v2}'])
                l3.append(key_metrics_change.loc[date,f'change % {v3}'])
                l4.append(key_metrics_change.loc[date,f'change % {v4}'])
                l5.append(key_metrics_change.loc[date,f'change % {v5}'])
                l6.append(key_metrics_change.loc[date,f'change % {v6}'])
                l7.append(key_metrics_change.loc[date,f'change % {v7}'])
            elif df['Ticker'][i] == df['Ticker'][i-1]:
                date = df['Date'][i]
                l.append(key_metrics_change.loc[date, f'change % {v}'])
                l1.append(key_metrics_change.loc[date,f'change % {v1}'])
                l2.append(key_metrics_change.loc[date,f'change % {v2}'])
                l3.append(key_metrics_change.loc[date,f'change % {v3}'])
                l4.append(key_metrics_change.loc[date,f'change % {v4}'])
                l5.append(key_metrics_change.loc[date,f'change % {v5}'])
                l6.append(key_metrics_change.loc[date,f'change % {v6}'])
                l7.append(key_metrics_change.loc[date,f'change % {v7}'])
            else:
                key_metrics = fa.income_statement(df['Ticker'][i], api_key, period='annual').T
                key_metrics_change = change_percent_all_columns(key_metrics)
                date = df['Date'][i]
                l.append(key_metrics_change.loc[date, f'change % {v}'])
                l1.append(key_metrics_change.loc[date,f'change % {v1}'])
                l2.append(key_metrics_change.loc[date,f'change % {v2}'])
                l3.append(key_metrics_change.loc[date,f'change % {v3}'])
                l4.append(key_metrics_change.loc[date,f'change % {v4}'])
                l5.append(key_metrics_change.loc[date,f'change % {v5}'])
                l6.append(key_metrics_change.loc[date,f'change % {v6}'])
                l7.append(key_metrics_change.loc[date,f'change % {v7}'])
        except:
            l.append(None)
            l1.append(None)
            l2.append(None)
            l3.append(None)
            l4.append(None)
            l5.append(None)
            l6.append(None)
            l7.append(None)
    df[f'change % {v}'] = l
    df[f'change % {v1}'] = l1
    df[f'change % {v2}'] = l2
    df[f'change % {v3}'] = l3
    df[f'change % {v4}'] = l4
    df[f'change % {v5}'] = l5
    df[f'change % {v6}'] = l6
    df[f'change % {v7}'] = l7
    
    return df

df_with_parameters = add_income_st(df_means_results)

In [15]:
df_with_parameters.sort_values(by=['Result'], ascending=False)

   Ticker  Date      Result  change % revenue  change % costOfRevenue change % grossProfit change % ebitda  change % interestIncome change % netIncome change % eps  change % operatingExpenses
10    WMB  2002  214.889702        -49.174876                0.000000                  0.0           Minus                 0.000000          57.986184    69.791667                  -46.081869
46   BKNG  2002  145.256393               NaN                     NaN                 None            None                      NaN               None         None                         NaN
34   TROW  2002   98.710524               NaN                     NaN                 None            None                      NaN               None         None                         NaN
22     MU  2002   96.224153        -34.220890              -30.758182                Minus      312.211982                 0.000000              45.12    43.809524                  -15.866446
33    XOM  2020   79.819025         -8.420918               17.152078           -38.777799      -29.837554               -44.390244         -57.437035   -57.319224                    5.434783
23   NTAP  2015   79.490723               NaN                     NaN                 None            None                      NaN               None         None                         NaN
1     HPE  2015   66.757630         -5.471400               -5.870435            -4.463772      -15.200376                 0.000000          49.332524    78.947368                   -5.118443
24   NTAP  2016   63.659887        -23.425148               -9.866084           -51.965484      -48.145717                20.000000              Minus        Minus                    1.927387
41    CVX  2020   62.222450         -8.420918               17.152078           -38.777799      -29.837554               -44.390244         -57.437035   -57.319224                    5.434783
42   AAPL  2002   57.102766               NaN                     NaN                 None            None                      NaN               None         None                         NaN
15    WMB  2020   50.239090         -5.877332              -11.204268              3.58957      -22.080783                 0.000000         -75.176471   -75.714286                  -13.780919
35    HLT  2018   45.683018               NaN                     NaN                 None            None                      NaN               None         None                         NaN
36    CVX  2002   39.674196               NaN                     NaN                 None            None                      NaN               None         None                         NaN
4     HPE  2020   36.602843         -7.389737               -5.747887           -10.786896      -46.599804                 0.000000              Minus        Minus                    4.649070
39    CVX  2015   34.506606         -1.014794                0.512774            -4.083134        8.280028                52.173913          -4.794745    -5.574913                    7.934204
26   NTAP  2020   33.578867         -8.420918               17.152078           -38.777799      -29.837554               -44.390244         -57.437035   -57.319224                    5.434783
6     IVZ  2009   31.000599        -20.567783                0.000000           -20.567783      -27.238186               -73.655914         -33.049616        -38.4                  -16.282522
7     IVZ  2016   29.323337         -7.583595               -1.196704            -9.974781      -19.834711               -95.413534         -11.765314    -8.849558                   -8.011819
2     HPE  2016   26.519628         -3.807550               -4.468898            -2.162126       44.988001                 0.000000          28.443722    35.294118                   -5.867142
28    XOM  2002   22.800277               NaN                     NaN                 None            None                      NaN               None         None                         NaN
16    DAL  2016   22.689596         -2.616450                0.609954            -9.494499       -5.774306                 0.000000          -3.380468     2.464789                   -6.763566
12    WMB  2012   20.392491         -5.598991               -4.882883            -7.268908        -8.40708              -100.000000         128.457447    97.090625                   16.210938
20    AIG  2018   19.238481         -4.904867                0.000000                    0        5.166564                 0.000000         -99.901381   -99.847095                    0.000000
47   BKNG  2003   18.086781         19.401313               15.276337           -81.283906      -94.577977                 0.000000          40.374862    39.735099                   15.513283
40    CVX  2016   17.045636        -23.425148               -9.866084           -51.965484      -48.145717                20.000000              Minus        Minus                    1.927387
44    ACN  2010   13.655221               NaN                     NaN                 None            None                      NaN               None         None                         NaN
5     IVZ  2006   13.462884         11.106152                0.000000                  0.0       113.94243                 0.000000         130.917829    129.62963                    0.000000
14    WMB  2016   13.406647          1.888587               -2.010828            11.106033       37.582781                 0.000000         -25.744308   -23.979437                  -12.626263
13    WMB  2013   12.815050         -8.362276               -6.440614           -12.958768      -13.204509                 0.000000         -49.941793   -50.088395                   -8.235294
31    XOM  2015   11.564659         -1.014794                0.512774            -4.083134        8.280028                52.173913          -4.794745    -5.574913                    7.934204
8     BEN  2016    8.771976        -16.741102              -15.295569            -18.37347      -15.833333               237.962963         -15.162384   -10.638298                   -3.401843
32    XOM  2016    8.026243        -23.425148               -9.866084           -51.965484      -48.145717                20.000000              Minus        Minus                    1.927387
0     UAA  2020    7.600000        -15.045474              -17.236186           -12.565629           Minus                 0.000000              Minus        Minus                   -2.767930
43    HON  2020    6.451429               NaN                     NaN                 None            None                      NaN               None         None                         NaN
25   NTAP  2017    5.426614         63.900315               20.133414           236.766467       205.85443                -2.380952               Plus         Plus                   13.104661
17     GM  2020    4.044986        -10.749288              -11.724334            -2.147151       -1.281193               -43.822844            -4.5306    -5.627706                  -17.112236
27    SYY  2021    1.507332               NaN                     NaN                 None            None                      NaN               None         None                         NaN
45   LRCX  2003    0.601520               NaN                     NaN                 None            None                      NaN               None         None                         NaN
29    XOM  2013   -2.453612         10.189458               -0.550509            90.805785       154.36664                75.000000               Plus         Plus                   -3.250975
3     HPE  2017   -2.462819        -42.399697              -43.174585           -40.517241      -58.861727                 0.000000         -89.117368   -88.586957                  -34.896277
37    CVX  2013   -4.876751         10.189458               -0.550509            90.805785       154.36664                75.000000               Plus         Plus                   -3.250975
30    XOM  2014   -7.892306         80.293178               51.134791           194.369247       74.079802                64.285714         155.882353   147.413793                   38.911290
38    CVX  2014  -11.838973         80.293178               51.134791           194.369247       74.079802                64.285714         155.882353   147.413793                   38.911290
9     BEN  2017  -21.807189         -3.411907               -2.974123            -3.924915       -0.686929               105.205479          -1.737418     2.380952                   -2.670580
21    AIG  2019  -22.317226          4.867210                0.000000                    0       60.390087                 0.000000               Plus         Plus                    0.000000
18    AIG  2010  -24.976391        -19.481480                0.000000                    0        91.13725                 0.000000               Plus         Plus                    0.000000
19    AIG  2017  -30.567588         -5.353149                0.000000                    0       38.369612                 0.000000         616.607774   738.461538                    0.000000
11    WMB  2007  -54.960775        -10.623132                0.000000                  0.0      128.128072                 0.000000         220.907618   219.230769                  -94.134026