In [2]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [4]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

Datas

In [6]:
market_ticker = '^GSPC' #^GSPC
st = 'f'

stime='2016-01-01'
ftime=None

In [12]:
def get_data_from_ticker(tick, stime, ftime, interval='1d'):
    ticker = yf.Ticker(tick)

    df = ticker.history(start=stime, end=ftime, interval=interval)
    x = pd.DataFrame(df)
    x.rename(columns={"Close": tick}, inplace=True)
    z = x.drop(columns=["Open", "High", "Low", "Dividends", "Stock Splits"])
    return z

df = pd.DataFrame(get_data_from_ticker(market_ticker, stime, ftime))



df.head(3)

                  ^GSPC      Volume
Date
2015-12-31  2043.939941  2655330000
2016-01-04  2012.660034  4304880000
2016-01-05  2016.709961  3706620000

In [14]:
r = list(df['^GSPC'].values)
df['Signal'] = r

df['ma_10'] = df['^GSPC'].ewm(span=10, adjust=False).mean()
df['ma_20'] = df['^GSPC'].ewm(span=20, adjust=False).mean()
df['ma_50'] = df['^GSPC'].ewm(span=50, adjust=False).mean()
df['ma_100'] = df['^GSPC'].ewm(span=100, adjust=False).mean()
df['ma_150'] = df['^GSPC'].ewm(span=150, adjust=False).mean()
df['ma_200'] = df['^GSPC'].ewm(span=200, adjust=False).mean()


df

                  ^GSPC      Volume       Signal        ma_10        ma_20        ma_50       ma_100       ma_150       ma_200
Date
2015-12-31  2043.939941  2655330000  2043.939941  2043.939941  2043.939941  2043.939941  2043.939941  2043.939941  2043.939941
2016-01-04  2012.660034  4304880000  2012.660034  2038.252686  2040.960903  2042.713278  2043.320537  2043.525638  2043.628699
2016-01-05  2016.709961  3706620000  2016.709961  2034.335827  2038.651289  2041.693540  2042.793595  2043.170463  2043.360850
2016-01-06  1990.260010  4336660000  1990.260010  2026.322042  2034.042596  2039.676539  2041.753326  2042.469663  2042.832484
2016-01-07  1943.089966  5076590000  1943.089966  2011.188937  2025.380441  2035.888830  2039.799596  2041.153375  2041.840021
...                 ...         ...          ...          ...          ...          ...          ...          ...          ...
2022-12-21  3878.439941  3775200000  3878.439941  3901.168947  3923.718343  3909.075315  3926.191809  3970.594171  4010.205931
2022-12-22  3822.389893  3956950000  3822.389893  3886.845483  3914.068014  3905.675887  3924.136326  3968.631201  4008.337115
2022-12-23  3844.820068  2819280000  3844.820068  3879.204498  3907.472972  3903.289384  3922.565707  3966.991318  4006.710079
2022-12-27  3829.250000  3030300000  3829.250000  3870.121862  3900.023165  3900.385879  3920.717871  3965.166930  4004.944307
2022-12-28  3789.439941   708510715  3789.439941  3855.452422  3889.491429  3896.035058  3918.118308  3962.839420  4002.799985

[1761 rows x 9 columns]