In [1]:
'''
https://habr.com/ru/company/ods/blog/322534/
'''

'\nhttps://habr.com/ru/company/ods/blog/322534/\n'

In [2]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz

In [3]:
%run /Users/alexeychernysh/PycharmProjects/Tinkoff_Investment/lessons_and_tests/ml_tests/ml_first_market.ipynb

In [4]:
df = df_some_columns[['change % debtToAssets','change % AAPL']]
df.head()

            change % debtToAssets  change % AAPL
Date_index
2022                     2.754812      33.265741
2021                     8.949814      72.013330
2020                     3.629783      88.752962
2019                     9.984263       0.901160
2018                     6.905238      40.191535

In [5]:
''' приводим результаты к 1 (рост за год) и 0 (падение)'''

t = []
for i in range(len(df['change % AAPL'])):
    if df['change % AAPL'][i] > 0:
        t.append(1)
    else:
        t.append(0)
        
df['Result'] = t

In [6]:
''' создаем датафрейм с одним признаком '''

df_1 = df[['change % debtToAssets', 'Result']]

In [7]:
df_1.head()

            change % debtToAssets  Result
Date_index
2022                     2.754812       1
2021                     8.949814       1
2020                     3.629783       1
2019                     9.984263       1
2018                     6.905238       1

In [8]:
dta_tree = DecisionTreeClassifier(random_state=17)
dta_tree.fit(df_1['change % debtToAssets'].values.reshape(-1, 1), df_1['Result'].values)

export_graphviz(dta_tree, feature_names=['change % debtToAssets'], 
out_file='../../dta_tree.dot', filled=True)
!dot -Tpng '../../dta_tree.dot' -o '../../dta_tree.png'

zsh:1: command not found: dot